@import "../../assets/sass/variables";

.videoswipe {
    line-height: 2em;

    .swiper-slide {
        iframe {
            height: 150px;
            width: 280px;

            // transform: scale(0.6);
            transition: height .5s ease-out;

            @media (min-width: map-get($grid-breakpoints, xxl)) {
                width: 400px;
            }
        }
    }

    &__textSlide {
        min-height: 16px !important;
        height: auto !important;
        margin-top: 64px;
        width: 100% !important;
        vertical-align: middle;
        text-align: center;

        &.swiper-slide-active {
            z-index: 9;
            width: 100% !important;

            // transform: scale(1);
       
        }
    }

    &__videoSlide {
        width: 300px;
    }

    &__backward {
        display: block;
        position: absolute;
        z-index: 9;
        margin-top: 121px;
        margin-right: 550px;
        cursor: pointer;
        margin-left: 167px;

        @media (max-width: map-get($grid-breakpoints, xxl)) {
            display: none;
        }

        > ion-icon {
            font-size: 57px;
        }
        &--disable{
          opacity: .5;
        }
    }

    &__forward {
        display: block;
        position: absolute;
        z-index: 9;
        margin-top: 121px;
        margin-left: 768px;
        cursor: pointer;

        @media (max-width: map-get($grid-breakpoints, xxl)) {
            display: none;
        }

        > ion-icon {
            font-size: 57px;
        }
        &--disable{
          opacity: .5;
        }
    }

    &__iframe {
        margin: 0;
        width: 280px;
        height: 300px;
        padding: 0;
        border: none;
        background-color: transparent;
        overflow: hidden;
        @media (min-width: map-get($grid-breakpoints, xxl)) {
            width: 400px;
        }

        .player {
            height: calc(99.25vw) !important;
        }
    }

    .swiper-slide-active {
        z-index: 9;
        iframe {
            height: 280px !important;
            transition: height .5s ease-in;
        }
    }

    &__sliderwrapper {
        position: relative;
        left: 0;
        top: 0;
        height: 100%;
        max-height: 400px;
        max-width: 860px;
        vertical-align: top;
        border: none;

        @media (min-width: map-get($grid-breakpoints, xxl)) {
            max-width: 539px;
            text-align: center;
            margin-left: 209px;
        }
    }

    &__swipeheading {
        padding-top: 48px;
        display: block;
    }

    &__container {
        margin-bottom: 20px;
        color: #384650;
        background-color: transparent;
    }

    &__heading {
        color: #384650;
        background-color: #e6e6e6;
    }

    &__iframewrapper1 {
        position: absolute;
        width: 280px;
        height: 86px;
        background: transparent;

        @media (min-width: map-get($grid-breakpoints, xxl)) {
            max-width: 400px;
        }
    }

    &__iframewrapper2 {
        position: absolute;
        width: 92px;
        height: 185px;
        background: transparent !important;
    }

    &__iframewrapper3 {
        position: absolute;
        width: 100px;
        height: 185px;
        background: transparent !important;
        float: right;
        margin-left: 70%;
    }

    &__iframewrapper4 {
        position: absolute;
        width: 280px;
        height: 99px;
        background: transparent !important;
        margin-top: 67%;

        @media (min-width: map-get($grid-breakpoints, xxl)) {
            max-width: 400px;
        }
    }

    &__hidewrapper {
        visibility: hidden;
    }

    &__showwrapper {
        visibility: visible;
    }

    &__slidecontArea {
        min-height: 50px;
    }

    &__swipetext {
        text-align: center;
        overflow: visible;

        &--show {
            display: block;
            transition: display .1s ease-out;
        }

        &--hide {
            display: none;
            transition: display .1s ease-in;
        }
    }

    .swiper-pagination {
        top: -10px;
        height: 49px;
        position: absolute;
    }

    swiper-pagination-bullet {
        margin-right: 10px;
        margin-left: 10px;
    }

    .swiper-pagination-bullet-active {
        background-color: var(--links);
    }
}
