<div class="videoswipe">

    <div class="videoswipe__container">
        <h4 *ngIf="heading" text-center class="videoswipe__heading">{{heading}}</h4>
        <div *ngIf="iframereceiveddata && iframereceiveddata.length">
            <ion-slides #headingSlide pager="false" slidesPerView="1" pager="true" speed=1000 spaceBetween="1" centeredSlides=true loop=false>
                <ng-template ngFor let-item [ngForOf]="iframereceiveddata" let-i="index" [ngForTrackBy]="trackByFn">
                    <ion-slide (swipe)="swipeEvent($event)" class="videoswipe__textSlide">
                        <summary class="videoswipe__swipeheading" [innerHtml]="item.heading"> </summary>
                    </ion-slide>
                </ng-template>
            </ion-slides>
        </div>

        <div *ngIf="iframereceiveddata && iframereceiveddata.length">   
            <div  (click)="backward()" [ngClass]="(atvIndx===0)?'videoswipe__backward videoswipe__backward--disable':'videoswipe__backward'"><ion-icon ios="ios-arrow-back"></ion-icon></div>    
            <div (click)="forward()" [ngClass]="(iframereceiveddata.length===(atvIndx+1))?'videoswipe__forward videoswipe__forward--disable':'videoswipe__forward'"><ion-icon ios="ios-arrow-forward"></ion-icon></div>    
            <div class="videoswipe__sliderwrapper">              
            <ion-slides #videoSlide (ionSlideWillChange)="updateNumbers($event)" slidesPerView="1.3" speed=1000 spaceBetween="1" centeredSlides=true loop=false>
                <ng-template ngFor let-item [ngForOf]="iframereceiveddata" let-i="index" [ngForTrackBy]="trackByFn">
                    <ion-slide class="videoswipe__videoSlide">
                        <div [ngClass]="videoPlayed===true? 'videoswipe__iframewrapper1 videoswipe__hidewrapper':'videoswipe__iframewrapper1 videoswipe__showwrapper'" (swipe)="swipeEvent($event)">
                        </div>
                        <div [ngClass]="videoPlayed===true? 'videoswipe__iframewrapper2 videoswipe__hidewrapper': 'videoswipe__iframewrapper2 videoswipe__showrapper'" (swipe)="swipeEvent($event)">
                        </div>
                        <div [ngClass]="videoPlayed===true? 'videoswipe__iframewrapper3 videoswipe__hidewrapper': 'videoswipe__iframewrapper3 videoswipe__showwrapper'" (swipe)="swipeEvent($event)">
                        </div>
                        <div [ngClass]="videoPlayed===true? 'videoswipe__iframewrapper4 videoswipe__hidewrapper': 'videoswipe__iframewrapper4 videoswipe__hidewrapper'" (swipe)="swipeEvent($event)">
                        </div>
                        <div *ngIf="item.isyoutube === 'true'">
                            <youtube-player (click)="playVideo($event)" class="videoswipe__iframe" [videoId]="item.id" [playerVars]="{rel: 0}" (change)="onStateChange($event)"></youtube-player>
                        </div>
                        <div *ngIf="item.isyoutube === 'false'">
                            <vimeo-viewer [videoUrl]="item.url" [videoId]="item.id"></vimeo-viewer>
                        </div>
                    </ion-slide>
                </ng-template>
            </ion-slides>
        </div></div>
    </div>
</div>