<div class="questionairenavigation" padding>
  <div class="questionairenavigationmobile">
    <p class="questionairenavigation__progressheading" *ngIf="totalSlideCountarray && questionaireContent" text-left>{{questionaireContent.filled}} {{totalansweredCountvalue}} {{questionaireContent.outof}} {{totalSlideCountarray}} {{questionaireContent.questions}}</p>
    <div class="questionairenavigation__container">
      <progress-bar *ngIf="progressbarcomplete && progressbarincomplete" [progress]="completeProgress?completeProgress:0" [color]="(!completeProgress || completeProgress==0)? progressbarincomplete: progressbarcomplete">
      </progress-bar>
    </div>
  </div>
</div>