@import "../../assets/sass/variables";

.questionairenavigation {
  // background: var(--pagecontent);

  &__container {
    border-bottom: 1px solid var(--primary);
    padding-bottom: 1em;

  }
  &__progressheading{
    font-size: 18px;
    font-weight: 300;
  }
  &__content {
    padding: 1em;
    width: 100%;
    display: inline-block;
    float: left;
    border-bottom: 1px solid var(--primary);
  }
  &__item{
    float: left;
    height: .8em;
    list-style: none;
    width: 4em;
    margin: .2em;
    border-radius: 8em;
    border: 1px solid var(--primary);

     &--active{
      background: var(--primary);
     }
     &--inactive{
      background: none;
     }
  }
  @media (min-width: map-get($grid-breakpoints, xl)) {
    .questionairenavigationmobile {
      // display: none;
      // box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
      min-height: 100%;
      max-width: 960px;
      padding: 0 10px;
      margin: 0 auto;
    }
  }
}
.progress-inner {
  height: 1.3em;
  line-height: 1.2em;
  text-align: center;
  vertical-align: middle;
}
.progress-outer {
  height: 1.3em;
  padding: 0 !important;
  margin-left: 0;
  margin-right: 0px !important;
}
@media (min-width: map-get($grid-breakpoints, xxl)) {
  .questionairenavigation {
    margin-top: 4px;
    height: 12%;
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}