@import "../../assets/sass/variables";

.back {
    padding-top: 11px;
    padding-left: 8px;
    height: 57px;
    margin-top: 16px;
    color: $primarytext_color;
    color: var(--primarytext_color);
    background-color: var(--buttonspanelstext_color);
    color: var(--backbuttonspanels);

    &__header {
        display: inline-block;
        width: 100%;
        float: left;

        .ios-arrow-round-back {
            font-weight: bolder;
        }
    }

    &__icon {
        font-size: 4em;
        float: left;
    }

    &__title {
        font-size: 2rem;
        margin-left: 47px;
        text-align: left;
        vertical-align: middle;
        line-height: 1.1;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-top: 16px;
    }
}

.content-ios {
    .back {
        padding-top: 1.1em;
        height: 4.6em;
    }
}
