<div class="back" (click)="goback()">
    <div class="back__header">
        <ion-icon class="back__icon" ios="ios-arrow-round-back" md="ios-arrow-round-back"></ion-icon>
        <p class="back__title" *ngIf="pagetitle">{{pagetitle}}</p>
        <p class="back__title" *ngIf="!pagetitle">{{backbuttontext}}</p>
    </div>
</div>