<header-viewer [showback]="false">
</header-viewer>


<ion-content class="changelanguage">
    <div *ngIf="isLoading === true" class="spinnercontainer">
        <ion-spinner  name="ios"></ion-spinner>
    </div>
    <div class="changelanguagemobile">
        <div *ngIf="frommodal===true" class="changelanguage__closecontainer">
        </div>
        <h4 text-center [ngClass]="(frommodal===true)? 'changelanguage__heading':''">Select Language</h4>

        <div padding *ngIf="alllanguages">
            <ion-list class="changelanguage__langlist">
                <ion-item-sliding class="smartsearch__searchitem" (click)="selectLang(langitem)"
                    *ngFor="let langitem of alllanguages; let i= index">
                    <ion-item>
                        <ion-thumbnail item-start>
                            <img class="changelanguage__img" src="{{baseUrl}}{{langitem.flag}}">
                        </ion-thumbnail>
                        <h2>{{langitem.language}}</h2>
                        <p>{{langitem.country}}</p>
                        <button class="changelanguage__langdetailview" ion-button clear item-end>
                            <ion-icon name="arrow-forward"></ion-icon>
                        </button>
                    </ion-item>
                </ion-item-sliding>
            </ion-list>
        </div>
    </div>
    <ion-content>