<div *ngIf="iframeUrl" class="customiframe">
    <iframe scrolling="yes" allowfullscreen="true"
        sandbox="allow-forms  allow-same-origin allow-popups allow-scripts allow-top-navigation"
        allowtransparency="true"
        style="width: 100%; height: -webkit-fill-available; margin: 0; padding: 0; border: none; background-color: transparent"
        [src]="iframeUrl | safe: 'resourceUrl'">
    </iframe>
</div>