<header-viewer [showback]="true">
</header-viewer>


<ion-content padding class="username">
    <div *ngIf="isLoading === true && spinnercolor" class="spinnercontainer">
        <ion-spinner [ngStyle]="{'color': spinnercolor}"  name="ios"></ion-spinner>
    </div>
    <div class="usernamemobile">
        <div *ngIf="usercontent">
            <p text-left>{{usercontent.heading}}</p>
            <form [formGroup]="loginForm" class="username__form" (ngSubmit)="verifyuser()">
                <div>
                    <ion-list>
                        <ion-item>
                            <ion-label stacked class="username__label">{{usercontent.username}}</ion-label>
                            <ion-input class="username__input" (keyup)="uservalueChange()" clearOnEdit="false" clearInput="true" type="text" placeholder="{{usercontent.username}}" formControlName="userid"></ion-input>
                        </ion-item>
                        <div class="username__line"></div>
                        <div *ngIf="error">
                            <div class="login__error">{{usercontent.error}}</div>
                        </div>
                        <div *ngIf="noemailerror">
                            <div class="login__error">{{usercontent.noemailerrormessage}}</div>
                        </div>
                        <div *ngIf="noauthorisation">
                            <div class="login__error">{{usercontent.noauthorisation}}</div>
                        </div>
                    </ion-list>
                </div>
                <button ion-button type="submit" [disabled]="!loginForm.valid" class="username__gotologin">{{usercontent.continue}}</button>
            </form>
        </div>
    </div>
</ion-content>

