@import "../../assets/sass/variables";

.username {
    line-height: 1.5em;
    margin-top: 70px;
    font-size: $fontsize;
    font-size: var(--fontsize);
    font-weight: $fontweight;
    font-weight: var(--fontweight);

    &__form{
        margin-top: 2em;
    }
    &__label{
        font-size: 15px !important;
        color: $color-dark-black !important;
        font-weight: 300;
    }
    &__gotologin {
        background: var(--primary) !important;
        color: var(--primarytext_color) !important;
        min-width: 48%;
        margin-top: 2em;
        border-color: $primary !important;
        border-color: var(--primary) !important;
        border-radius: 2em;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
        float: right;
        margin-bottom: 300px;
      }
    &__input {
        input {
            padding: 15px !important;
            font-weight: normal;
            background: #ecf0f2;
            color: #000;
            border-radius: .4em;
        }
    }
    &__line{
        height: 1px;
        background-color: rgba(0,0,0,.1);
        margin-bottom: .5em;
    }
    .item-block, .item-inner{
        border: none !important;
        box-shadow: none !important;
    }
    @media (max-width: map-get($grid-breakpoints, xxl)) {
        .usernamebrowser {
          display: none;
        }
      }
      @media (min-width: map-get($grid-breakpoints, xxl)) {
        .usernamemobile {
         // display: none;
         box-shadow: 2px 4px 11px 4px rgba(56,70,80,.12);
         min-height: 100%;
          max-width: 960px;
          padding: 16px;
          margin: 0 auto;
        }
      }
}
