@import "../../assets/sass/variables";

.chart {
    line-height: 1.5em;
    overflow-x: scroll;
    height: 63%;
    margin-bottom: 5em;
    background: $primarytext_color;
    box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
    border-radius: 10px;
    margin: 1.5em;
    margin-bottom: 7em;
    margin-top: 100px;
    background-color: $color-white;
    min-height: 300px;


    &__yaxiscontainer {
        width: 3em;
        position: absolute;
        z-index: 999;
        background: $color-white;
        height: 430px;
        margin-left: -0.5em;
        text-align: center;
    }

    &__yaxisitems {
        list-style: none;
        margin-top: 42px;
        margin-left: 0;
        padding-left: 0;
        height: 100%;
    }

    &__yaxisitem {
        font-size: 12px;
        font-weight: bold;
        //line-height: 31px;//2.65;
        padding-top: 10px;
        height: 31px;
        text-align: center;
        vertical-align: middle;
        padding: 5px;
    }

    &__box {
        //margin-bottom: 1.25em;
        margin-bottom: 5px;
        margin-left: .5em;
        background:  $color-white;

    }

    &__box-heading {
        position: absolute;
        z-index: 999;
        width: 100%;
        width: 90%;
    }

    div.google-visualization-tooltip {
        // transform: rotate(30deg);
        border-radius: .7em;
        min-width: 120px;
        height: 80px;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
        border-radius: 6px;
        margin-bottom: 1.25em;
        color: #384650;
        background-color: $color-white;
        border: none;
        display: none;
    }

    .google-visualization-tooltip-square {
        display: none;
    }

}
.chart::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #8e8e8e;
    height: 10px !important;
   -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.chart::-webkit-scrollbar {
    height: 10px !important;
}
.chart::-webkit-scrollbar-track {
    //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    border-radius: 20px !important;
    background-color: #F5F5F5 !important;
}


// ::-webkit-scrollbar {
//     width: 4px;
//     background-color: #F5F5F5;
//     height: 5px;
// }
// ::-webkit-scrollbar
// {
// width: 10px!important;
// background-color: #F5F5F5!important;
// }

// ::-webkit-scrollbar-thumb
// {
// border-radius: 10px!important;
// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)!important;
// background-color: #D62929!important;
// }
