<div class="chart">
    <div *ngIf="isLoading === true" class="spinnercontainer">
        <ion-spinner  name="ios"></ion-spinner>
    </div>
            
        <h5 class="chart__box-heading" *ngIf="chartContent && this.chartdata.score.length!=0" text-center>{{chartContent.chartheading}}</h5>
        <h5 class="chart__box-heading" *ngIf="this.chartdata.score.length===0" text-center>{{chartContent.chartnodatamsg}}</h5>
        <div class="chart__box" *ngIf="!islist && this.chartdata.score.length!=0">
            <div *ngIf="ticks && linechartdata" class="chart__yaxiscontainer">
                <ul class="chart__yaxisitems">
                    <ng-template ngFor let-tickitem [ngForOf]="ticks" let-i="index" [ngForTrackBy]="trackByFn">
                        <li class="chart__yaxisitem">
                            {{ticks[ticks.length-i-1]}}
                        </li>
                    </ng-template>
                </ul>
            </div>
            <google-chart [data]="linechartdata" (chartSelect)="select($event)"></google-chart>
        </div>
    </div>