<header-viewer [showback]="false">
</header-viewer>



<ion-content class="charthistorymodal">
    <div class="charthistorymodalmobile">
        <div class="charthistorymodal__closecontainer">
            <button end class="charthistorymodal__closeicon" (click)="closemodal()" ion-button menuClose>
                <ion-icon class="charthistorymodal__icon" name="close"></ion-icon>
            </button>

        </div>
        <!--  Needs to be date and service should return that. -->
       <h4 class="charthistorymodal__heading" *ngIf="stressDetailsdata && pagetitle" text-center>{{pagetitle}}</h4> 
        <div *ngIf="stressDetailsdata" padding>
            <div>
                <ng-template ngFor let-item [ngForOf]="stressDetailsdata" let-i="index" [ngForTrackBy]="trackByFn">
                    <div class="charthistorymodal__items">
                        <p class="charthistorymodal__label" *ngIf="item.number">{{item.name}}: {{item.number}}</p>
                        <p class="charthistorymodal__label" *ngIf="!item.number">{{item.name}}:</p>
                        <p>{{item.value}}</p>
                    </div>
                </ng-template>
            </div>

        </div>
    </div>
    <ion-content>



