<header-viewer [hidemenu]="true" [pagetitle]="pagetitle" [showhome]="true" [topic]="slctopic">
</header-viewer>

<ion-content class="stress">
    <back-viewer class="stress__back" [pagetitle]="heading"></back-viewer>
    <div class="stressmobile" *ngIf="stressContent">
        <div *ngIf="isLoading === true" class="spinnercontainer">
            <ion-spinner name="ios"></ion-spinner>
        </div>
        <div [ngClass]="islist? 'stress__container stress__show': 'stress__container stress__hide'" padding>
            <div class="stress__category">
                <p class="stress__sortheading" text-left>
                    <ion-icon class="stress__headingicon" ios="ios-funnel-outline"></ion-icon> {{stressContent.sortby}}
                </p>
                <div class="stress__sortbtnsctnr">
                    <ul class="stress__item">
                        <li [ngClass]="(dateSorted===true)? 'stress__sortbuttons stress__sortbuttons--active':'stress__sortbuttons  stress__sortbuttons--inactive'"
                            (click)="sortbyDate()"><i class="far fa-sort-amount-up" *ngIf="ascdateOrder === true"></i>
                            <i *ngIf="ascdateOrder === false" class="far fa-sort-amount-down"></i>
                            {{stressContent.date}}</li>
                        <li [ngClass]="(categorySorted===true)? 'stress__sortbuttons stress__sortbuttons--active':'stress__sortbuttons  stress__sortbuttons--inactive'"
                            (click)="sortbyCategory()"><i class="fal fa-sort-alpha-up"
                                *ngIf="asccategoryOrder === true"></i><i *ngIf="asccategoryOrder === false"
                                class="fal fa-sort-alpha-down"></i> {{stressContent.category}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div [ngClass]="islist? 'stress__show': 'stress__hide'" padding>
            <ion-list class="stress__searchlist" *ngIf="histroydataArray">
                <ng-template ngFor let-item [ngForOf]="histroydataArray" let-i="index" [ngForTrackBy]="trackByFn">
                    <ion-item-sliding #itemSlide class="stress__slideitem"
                        (ionDrag)="itemdraged($event, item, i,itemSlide)">
                        <ion-item #ionitem>
                            <ion-thumbnail class="stress__date-ctnr stress__date-ctnr--inactive" item-start>
                                <div *ngIf="item.date" class="stress__dateitem">
                                    <span class="stress__date-day">{{item.date.day}}</span>
                                    <span class="stress__date-mnth">{{item.date.month}}</span>
                                    <span class="stress__date-year">{{item.date.year}}</span>
                                </div>
                            </ion-thumbnail>
                            <ion-thumbnail class="stress__councelctnr" item-start>
                                <img class="stress__callimg" src="../assets/icon/callcenter.svg">
                            </ion-thumbnail>
                            <ion-thumbnail class="stress__counceltxtctnr" item-start>
                                <p class="stress__scoreheading">
                                    {{item.category}}:
                                </p>
                                <p class="stress__score">
                                    {{item.topic}}
                                </p>
                            </ion-thumbnail>
                            <ion-thumbnail (click)="openModal(item)" class="stress__councelctnr" item-start>
                                <div class="stress__smileitem">
                                    <img class="stress__smileyimg stress__smileyimg" src="../assets/icon/info2.png">
                                </div>
                            </ion-thumbnail>
                            <ion-thumbnail (click)="openItem($event,itemSlide, item,i)" class="stress__counceldotsctnr"
                                item-start>
                                <p *ngIf="item.showdots === true" class="stress__dots">
                                    ...
                                </p>
                            </ion-thumbnail>
                        </ion-item>
                        <ion-item-options side="right">
                            <button (click)="deleteItem(item.uuid)" ion-button class="stress__sharebtn">
                                <ion-icon color="danger" ios="md-trash" md="md-trash" name="trash"></ion-icon>
                                {{stressContent.remove}}
                            </button>
                        </ion-item-options>
                    </ion-item-sliding>
                </ng-template>
            </ion-list>
        </div>
    </div>

</ion-content>