@import "../../assets/sass/variables";

.menu {
  line-height: 1.5em;
  background: $primary;
  background: var(--primary);

  .toolbar-background-md {
    // background: $color-lightgray-background;

  }

  .toolbar-title {
    color: $primarytext_color;
    color: var(--primarytext_color);
    line-height: 1.9;
    font-size: 1.8rem;
  }

  .item {
    color: $black;
    color: var(--black);
    text-align: left;
  }

  .scroll-content {
    background: var(--lightgray);
  }

  &__heading {
    background: $primary !important;
    color: $primarytext_color !important;
    background: var(--primary) !important;
    color: var(--primarytext_color) !important;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__title {
    width: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }

  .toolbar-background {
    // background: $primary;
    color: $primarytext_color;
    color: var(--primarytext_color);
    border-bottom: 1px solid $primarytext_color;
    border-bottom: 1px solid var(--primarytext_color);
  }

  .content-ios {
    .scroll-content {
      margin-top: 4.7em !important;
    }
  }

  &__header {
    &.header-ios {
      height: 4.5em !important;
      padding-top: .5em !important;
    }
  }

  .title {
    padding: 0;
  }
  @media (max-width: map-get($grid-breakpoints, xxl)) {
    .menu-inner {
      width: 100%;
    }
  }
  @media (min-width: map-get($grid-breakpoints, xxl)) {
    .menu-inner {
      width: 400px;
    }
  }

  &__closeicon {
    color: $primary;
    color: var(--primary);
    background-color: var(--primary);
    box-shadow: none;
    font-size: 2.25rem;
    margin-bottom: .3em;
    background: none !important;
    margin-left: -54px;
    height: 34px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: clip;
    display: inline;
  }
  &__close{
    background-color: var(--primary);
    color: var(--primarytext_color);

  }

  &__ionlist.list.list-md {
    margin-top: 0em;
  }
  &__ionlist.list.list-ios {
    margin-top: 20px;
  }
}
