<div class="menu">
  <ion-menu [content]="content" side="right" swipeEnabled="false">
    <ion-header class="menu__header">
      <ion-toolbar class="menu">
        <ion-title *ngIf="menuItems">
          <div class="menu__title">{{menuItems.appname}}</div>
          <button (click)="closeMenu()" end class="menu__closeicon" ion-button menuClose><ion-icon class="menu__close" name="md-close"></ion-icon></button>
        </ion-title>
          <!-- <ion-icon end class="menu__closeicon" (click)="closeMenu()" float-right menuClose ios="ios-close" md="md-close"></ion-icon> -->

      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list class="menu__ionlist" *ngIf="menuItems">
        <ion-list-header class="menu__heading">
          {{menuItems.myrelation}}
        </ion-list-header>
        <!-- <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </button> -->
        <button menuClose ion-item (click)="gotoPage()">
          {{menuItems.otherrelation}}
        </button>
      </ion-list>
      <ion-list *ngIf="menuItems">
        <ion-list-header class="menu__heading">
          {{menuItems.mymenu}}
        </ion-list-header>
        <button menuClose ion-item (click)="openProfile()">
          {{menuItems.profile}}
        </button>
        <button menuClose ion-item (click)="openNotifications()">
          {{menuItems.notification}}
        </button>
     <!-- <button menuClose ion-item (click)="openSettings()">
          {{menuItems.settings}}
        </button>  -->
        <button menuClose ion-item (click)="openTermsandCondition()">
          {{menuItems.termsandContion}}
        </button>
<!-- 
        <button menuClose ion-item (click)="openConfigpage()">
          App Configuration
        </button> -->
      </ion-list>
    </ion-content>

  </ion-menu>
</div>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeEnabled="false" swipeBackEnabled="true"></ion-nav>