<header-viewer [hidemenu]="true" [pagetitle]="title" [showhome]="true">
</header-viewer>

<ion-content class="profile">
  <div *ngIf="isLoading === true" class="spinnercontainer">
    <ion-spinner name="ios"></ion-spinner>
  </div>
  <div class="profilemobile">
      <ion-list padding *ngIf="profileContent">
        <div>
          <ion-list>
            <ion-item class="profile__profileitem">
              <ion-thumbnail item-start>
                <img class="profile__img" src="{{enviUrl}}/user2.png">
              </ion-thumbnail>
              <ion-label class="profile__userlabel">{{username}}</ion-label>
            </ion-item>
          </ion-list>
        </div>
        <div class="profile__container">
          <div class="profile__line"></div>
          <ion-item>
            <ion-label class="profile__label" stacked>
              {{profileContent.name}}</ion-label>
            <ion-input *ngIf="user" disabled class="profile__input" value="{{name}}"></ion-input>
            <button [ngClass]="(editprofileinfo===false)? 'profile__edit':'profile__edit profile__edit--active'"
            (click)="editprofile()" ion-button clear item-end>
            <ion-icon item-right class="fas fa-pencil-alt"></ion-icon>
          </button>
          </ion-item>



          <ion-item>
            <ion-label class="profile__label" stacked>
              {{profileContent.email}}</ion-label>
            <ion-input type="email"  clearOnEdit="false" clearInput="true"
            [ngModelOptions]="{standalone: true}"
            [(ngModel)]="emailmodel"
            [ngClass]="(emailvalid===false && submited===true)? 'profile__input profile__input--error':'profile__input'"
              [disabled]="!editprofileinfo" class="profile__input" value="{{emailmodel}}">
            </ion-input>
          </ion-item>
          <div>
            <p class="profile__error alert alert-danger"
              *ngIf="emailvalid===false && submited===true">
              {{profileContent.emailerrormessage}}</p>
          </div>




          <div class="profile__line"></div>
          <ion-item>
            <ion-label class="profile__label" stacked>
              {{profileContent.mobile}}</ion-label>
            <ion-input class="profile__input" type="tel" [(ngModel)]="phonenumber" [disabled]="!editprofileinfo"
            [ngClass]="(pnumbervalid===false && submited===true)? 'profile__input profile__input--error':'profile__input'"
              [ngModelOptions]="{standalone: true}" clearOnEdit="false" clearInput="true" value="{{phonenumber}}">
            </ion-input>
          </ion-item>
          <div>
            <p class="profile__error alert alert-danger"
              *ngIf="pnumbervalid===false && submited===true">
              {{profileContent.pnumbererrormessage}}</p>
          </div>


          <ion-item>
            <ion-label class="profile__label" stacked>
              {{profileContent.language}}</ion-label>
            <ion-input class="profile__input" [(ngModel)]="userlanguage"  disabled="true" readonly="true" [ngModelOptions]="{standalone: true}"
              value="{{userlanguage}}"></ion-input>
            <button (click)="selectLang()" class="profile__languagedit" ion-button clear item-end>
              <ion-icon mode="ios" ios="ios-open" md="ios-open"></ion-icon>
            </button>
          </ion-item>
          <div class="profile__line"></div>
        </div>


        
        <div padding *ngIf="profileContent">
          <button (click)="logout()" *ngIf="editprofileinfo === false" ion-button
            class="profile__logout">{{profileContent.logout}}</button>
          <button (click)="save()" *ngIf="editprofileinfo === true" ion-button
            class="profile__save">{{profileContent.save}}</button>
          <button ion-button type="button" (click)="cancel()" *ngIf="editprofileinfo === true"
            class="profile__cancel">{{profileContent.cancel}}</button>
        </div>
      </ion-list>

  </div>
</ion-content>