<!-- <div class="vimeoplayer" *ngIf="videoId" #vimeoiframe id='vimeoiframe'>
</div> -->
<!-- <div data-vimeo-url="videoUrl" id="vimeoiframe"></div> -->
<!-- <iframe src="{{videoUrl}}" width="640" height="360" frameborder="0" allowfullscreen allow="autoplay; encrypted-media"></iframe> -->

<iframe class="videoswipe__iframe" #vimeoiframe frameborder="0" scrolling="no" allowfullscreen="true" sandbox="allow-forms  allow-same-origin allow-popups allow-scripts allow-top-navigation" allowtransparency="true" webkitallowfullscreen mozallowfullscreen
    allowfullscreen allow="autoplay; encrypted-media" [src]="videoUrl | safe: 'resourceUrl'">
</iframe>