@import "../../assets/sass/variables";
.listdetails {
    // background: $primary !important;
    background: $submenu_background;
    background: var(--submenu_background);
    line-height: 1.5em;
    color: $primary;
    color: var(--primary);
    margin-top: 3em;
    margin-bottom: 5em;
    font-weight: $fontweight;
    font-weight: var(--fontweight);
    .toolbar-title {
        color: $color-white;
    }
    &__item {
        height: 4em;
        background: $submenu_background;
        color: $primary;
        background: var(--secondary);
        color: var(--primary);
        border-radius: .4em;
        box-shadow: 2px 4px 11px 4px hsla(39, 43%, 74%, 0.12); // not sure , we might need not need it.
    }
    ion-thumbnail {
        min-width: 56px !important;
        min-height: 56px !important;
        max-width: 56px !important;
        i {
            padding: .4em;
        }
    }
    &__list {
        border: none;
    }
    &__container {
        margin-bottom: 5em;
    }
    &__img {
        border-radius: .6em;
        width: 56px !important;
        height: 56px !important;
    }
    &__listitem {
        margin-bottom: 15px;
        position: relative;
        border-radius: 6px;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
        overflow: hidden;
        transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
        .item {
            background-color: var(--submenu_buttonbackground);
            color: var(--submenu_buttontext_color);
        }
    }
    &__listicon {
        padding: 0px;
        >.customlogo {
            margin: 9px;
        }
    }
    &__listitemheading {
        margin: 0 !important;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 90%;
        float: left;
        display: inline-block;
    }
    &__externalicon {
        display: inline-block;
        width: 11px;
        float: left;
        padding-left: 9px;
    }
    &__textcontent {
        color: $submenu_text_color;
        color: var(--submenu_text_color);
        font-size: 1.2em;
        font-weight: 300;
        margin-bottom: 2em;
        line-height: 1.5em;
    }
    &__itemicon {
        float: left;
        margin-left: .5em;
        line-height: 1.9;
        color: $primary;
        color: var(--primary);
        line-height: 1.9 !important;
    }
    &__list {
        -webkit-animation: textanimate 1s cubic-bezier(0.215, 0.61, 0.355, 1);
        animation: textanimate 1s cubic-bezier(0.215, 0.61, 0.355, 1);
        @-webkit-keyframes textanimate {
            from {
                opacity: .0;
                -webkit-transform: translateY(10px);
                transform: translateY(10px);
            }
        }
        @keyframes textanimate {
            from {
                opacity: .0;
                -webkit-transform: translateY(10px);
                transform: translateY(10px);
            }
        }
    }
    .list-ios>.item-block:last-child,
    .list-ios>.item-wrapper:last-child .item-block {
        border-bottom: none !important;
    }
    .item-inner {
        border-bottom: none !important;
    }
    .list-md .item-block .item-inner {
        border-bottom: none !important;
    }
    .list-ios>.item-block:first-child {
        border-top: none !important;
    }
    @media (min-width: map-get($grid-breakpoints, xxl)) {
        .listdetailsmobile {
            // display: none;
            box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
            min-height: 100%;
            max-width: 960px;
            padding: 16px;
            margin: 0 auto;
        }
    }
}