@import "../../assets/sass/variables";

.termsconditions {
  line-height: 1.5em;
  margin-top: 70px;
  font-size: $fontsize;
  font-size: var(--fontsize);
  font-weight: $fontweight;
  font-weight: var(--fontweight);

  .bar-button-default-md,
  .toolbar,
  .toolbar-title {
    color: $color-white !important;
    background-color: $primary; // $primary;
    background-color: var(--primary);
  }

  .back-button {
    color: $color-white !important;
    background-color: $primary;
  }

  .item-icon {
    color: $color-highlight-green;
  }

  &__checkboxitem {
    border: none !important;
  }

  &__login-button {
    width: 100%;
    background: var(--primary) !important;
    color: var(--primarytext_color) !important; 
    width: 100%;
    border-color: var(--primary) !important;
    border-radius: 2em;
    box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
  }

  .label {
    color: $primary;
    font-weight: 500;
  }

  .toggle-ios.toggle-checked .toggle-icon {
    background-color: $primary;
  }

  .toggle-md.toggle-inner {
    background-color: $primary;
  }

  .toggle-md .toggle-icon {
    background-color: rgba(51, 76, 85, 0.3);
  }

  .toggle-md.toggle-checked .toggle-inner {
    background-color: $primary;
  }

  &__verison {
    text-align: center;
    color: $color-menu-gray;
    opacity: .5;
    margin-bottom: 4em;
  }

  &__checkboxlabel {
    color: $color-menu-gray !important;
    white-space: normal;
    display: inline-block;
    margin-right: 0;
    text-align: left;
  }

  &__heading {
    padding-bottom: 0 !important;
    text-align: center;
  }

  &__form {
    margin-bottom: 1em;//5em;
  }
  @media (max-width: map-get($grid-breakpoints, xxl)) {
    .termsconditionsbrowser {
      display: none;
    }
  }
  @media (min-width: map-get($grid-breakpoints, xxl)) {
    .termsconditionsmobile {
      // display: none;
      box-shadow: 2px 4px 11px 4px rgba(56,70,80,.12);
      min-height: 100%;
      max-width: 960px;
      padding: 16px;
      margin: 0 auto;
    }
  }
}
