@import "../../assets/sass/variables";
.otp {
    line-height: 1.5em;
    margin-top: 70px;
    font-size: 1.2em;
    font-weight: 300;
    .scroll-content {
        overflow: hidden;
    }
    &__form {
        // margin-top: 15%;
    }
    &__item {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
    &__text-box {
        border: 1px solid $color-secondary-gray;
        margin-left: .5em;
        margin-right: .5em;
        border-radius: .4em;
        background: #ecf0f2;
        color: #000;
        input {
            font-size: 2em;
            text-align: center;
            margin-right: 0;
            // text-transform: password;
            // -webkit-text-security: disc;
            border: none;
            // color: transparent;
            display: inline-block;
            font-size: 2em;
            // text-shadow: 0 0 0 $color-menu-gray;
            &:focus {
                outline: none;
            }
        }
    }
    &__otp-button {
        background: var(--primary) !important;
        color: var(--primarytext_color) !important;
        width: 100%;
        border-color: var(--primary) !important;
        border-radius: 2em;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
    }
    &__otplabel {
        text-align: center;
        border-top: none !important;
        .item-inner {
            border-bottom: none !important;
        }
    }
    &__inputs {
        text-align: center;
        border-bottom: none !important;
        box-shadow: none !important;
        .item-inner {
            border-bottom: none !important;
        }
    }
    @media (max-width: map-get($grid-breakpoints, xxl)) {
        .otpbrowser {
            display: none;
            //   max-width: 960px;  
            //padding:16px;
            //   margin: 0 auto;
        }
    }
    @media (min-width: map-get($grid-breakpoints, xxl)) {
        .otpmobile {
            box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
            min-height: 100%;
            max-width: 960px;
            padding: 0 300px;
            margin: 0 auto;
        }
    }
    .otpbrowser {
        max-width: 600px;
        padding: 16px;
        margin: 0 auto;
    }
}