<header-viewer [showback]="true">
</header-viewer>



<ion-content padding class="otp">

    <div *ngIf="isLoading === true" class="spinnercontainer">
        <ion-spinner name="ios"></ion-spinner>
    </div>
    <div class="otpmobile">
        <div *ngIf="otpcontent">
            <div *ngIf="otpcontent.paragraphs" padding>
                <ng-template ngFor let-item [ngForOf]="otpcontent.paragraphs" let-i="index" [ngForTrackBy]="trackByFn">
                    <div class="otp__item">
                        <div id="{{i}}" *ngIf="item.indexOf('<a')!==0 && item.indexOf('<iframe')==-1" [innerHtml]="item">
                        </div>
                        <div id="{{i}}" *ngIf="item.indexOf('<a')==0">
                            <customanchor-viewer [content]="item"></customanchor-viewer>
                        </div>
                    </div>
                </ng-template>
            </div>
            <form class="otp__form" [formGroup]="loginForm" (ngSubmit)="gotochangePasword()">
                <div>
                    <ion-list>
                        <ion-item class="otp__otplabel">
                            <ion-label class="dark">{{otpcontent.otplabel}}</ion-label>
                        </ion-item>
                        <ion-item class="otp__inputs">
                            <ion-input type="tel" [(ngModel)]="otpval1" tabindex="1" formControlName="otp1" (click)="showKeyboard()" #otp1 id="otp1" maxlength="1" class="otp__text-box" max="9" (keyup)="next1($event)">
                            </ion-input>

                            <ion-input type="tel" [(ngModel)]="otpval2" tabindex="2" formControlName="otp2" (click)="showKeyboard()" #otp2 id="otp2" maxlength="1" class="otp__text-box" max="9" (keyup)="next2($event)">
                            </ion-input>

                            <ion-input type="tel" [(ngModel)]="otpval3" tabindex="3" formControlName="otp3" (click)="showKeyboard()" #otp3 id="otp3" maxlength="1" class="otp__text-box" max="9" (keyup)="next3($event)">
                            </ion-input>

                            <ion-input type="tel" [(ngModel)]="otpval4" tabindex="4" formControlName="otp4" (click)="showKeyboard()" #otp4 id="otp4" maxlength="1" class="otp__text-box" max="9" (keyup)="next4($event)">
                            </ion-input>
                        </ion-item>

                    </ion-list>
                    <div>
                        <div class="">{{otpcontent.waitmessage}} {{timerDisplay}} {{otpcontent.seconds}}</div>
                    </div>
                    <div *ngIf="error">
                        <div class="login__error">{{otpcontent.errormessage}}</div>
                    </div>
                    <button ion-button type="button" (click)="resendOTP()" id="Fortsæt til login" [disabled]="!timerDisplay || !(timerDisplay=='0:00')" class="otp__otp-button">{{otpcontent.resend}}</button>
                </div>
            </form>
        </div>
    </div>
</ion-content>