@import "../../assets/sass/variables";

.changepassword {
    line-height: 1.5em;
    margin-top: 70px;
    font-size: $fontsize;
    font-size: var(--fontsize);
    font-weight: $fontweight;
    font-weight: var(--fontweight);


    &__form {
        margin-top: 2em;
    }
    &__input {
        input {
            padding: 15px !important;
            font-weight: normal;
            background: #ecf0f2;
            color: #000;
            border-radius: .4em;
        }
    }
    &__label{
        font-size: 15px !important;
        color: $color-dark-black !important;
        font-weight: 300;
    }
    .item-block, .item-inner {
        border: none !important;
        box-shadow: none !important;
    }
    &__login-button {
        background: var(--primary) !important;
        color: var(--primarytext_color) !important;
        width: 100%;
        border-color: var(--primary) !important;
        border-radius: 2em;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
    
      }
    
      &__forgetpwd {
        background: var(--primarytext_color) !important;
        color: var(--primary) !important;
        border: none;
        width: 100%;
        border-radius: 2em;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
        margin-bottom: 100px;
      }
    
    @media (max-width: map-get($grid-breakpoints, xxl)) {
        .changepwdbrowser {
          display: none;
        }
      }
      @media (min-width: map-get($grid-breakpoints, xxl)) {
        .changepwdmobile {
            box-shadow: 2px 4px 11px 4px rgba(56,70,80,.12);
            min-height: 100%;
            max-width: 960px;
         padding:16px;
            margin: 0 auto;
        }
      }
}
