@import "../../assets/sass/variables";

.changeenvi {
    line-height: 1.5em;
    margin-top: 70px;
    font-size: $fontsize;
    font-size: var(--fontsize);
    font-weight: $fontweight;
    font-weight: var(--fontweight);

    &__tabscont {
        width: 100%;
        border-bottom: 1px solid #8e8e8e;
        height: auto;
        min-height: 64px;
    }

    &__tabsul {
        list-style: none;
        display: inline-block;
        width: 100%;
        float: left;
        padding: 0;
    }

    &__tabsli {
        background: $gradient !important;
        background: var(--secondary) !important;
        min-width: 40%;
        float: left;
        color: $primarytext_color;
        color: var(--primarytext_color);
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;

        &--slct {
            background: $menuactive !important;
            background: var(--menuactive) !important;
        }

        &--unslct {
            background: $menuinactive !important;
            background: var(--menuinactive) !important;
        }
    }

    &__info {
        margin-bottom: 100px;
    }

    &__select {
        background: #ecf0f2;
        height: 3em;

        // padding: 15px !important;
        padding-left: 15px !important;
        border-radius: .4em;
        margin-bottom: .4em;

        .select-text {
            font-weight: normal;
            color: #606060;
            line-height: 1.8;
        }

        .select-icon {
            // background: url("../assets/icon/arrowdown.svg");
            background: url("../assets/icon/down.png");
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
            background-size: 2em;
        }

        .select-icon-inner {
            color: #ecf0f2 !important;
            top: 0 !important;
        }
    }

    &__infoval {}

    &__infolabel {
        font-weight: bold;
    }

    &__closeCtnr {}

    &__closeanchor {
        height: 2em;
        display: inline-block;
        color: $links;
        color: var(--links);
    }

    &__label {
        font-size: 15px !important;
        color: #000 !important;
        font-weight: 300;
    }

    @media (max-width: map-get($grid-breakpoints, xxl)) {
        .changepwdbrowser {
            display: none;
        }
    }

    @media (min-width: map-get($grid-breakpoints, xxl)) {
        .changepwdmobile {
            box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
            min-height: 100%;
            max-width: 960px;
            padding: 16px;
            margin: 0 auto;
        }
    }
}
