<ion-content padding class="changeenvi">

    <div class="changeenvi__closeCtnr" text-right>
        <a (click)="Close()" class="changeenvi__closeanchor" text-right>Close</a>
    </div>

    <div class="changeenvi__tabscont">
        <ul class="changeenvi__tabsul">
            <li (click)="toogleView()" [ngClass]="(envi===true)? 'changeenvi__tabsli changeenvi__tabsli--slct':'changeenvi__tabsli changeenvi__tabsli--unslct'">
                Enviroment
            </li>
            <li (click)="toogleView()" [ngClass]="(info===true)? 'changeenvi__tabsli changeenvi__tabsli--slct':'changeenvi__tabsli changeenvi__tabsli--unslct'">
                Information
            </li>
        </ul>
    </div>

    <div class="changeenvi__viewCtnr">
        <div *ngIf="envi === true" class="changeenvi__envi">
            <h4 text-center>Enviroment Information</h4>
            <p> Active Enviroment: {{currentEnvi.envi}} </p>

                            <ion-list>
                <ion-item>
                    <ion-label class="changeenvi__label" stacked>Change Environment</ion-label>
                    <ion-select okText="ok" [(ngModel)]='enviModel'  [selectOptions]="{ mode: 'ios' }" cancelText="cancel" #c class="changeenvi__select"
                        (ionChange)="ChangeEnvi(value)">
                        <ion-option value="udv">
                            Udv
                        </ion-option>
                        <ion-option value="qa">
                            Qa
                        </ion-option>
                        <ion-option value="uat">
                            Uat
                        </ion-option>
                        <ion-option value="demo">
                            Demo
                        </ion-option>
                        <ion-option value="prod">
                            Production
                        </ion-option>
                    </ion-select>
                    <ion-icon class="icon-dropdown"></ion-icon>
                </ion-item>
                <ion-item>
                        <ion-label class="changeenvi__label" stacked>Change Application</ion-label>
                        <ion-select [(ngModel)]='appModel' okText="ok" [selectOptions]="{ mode: 'ios' }" cancelText="cancel" #c class="changeenvi__select"
                            (ionChange)="ChangeApp(value)">
                            <ion-option value="tryg">
                                Tryg
                            </ion-option>
                            <ion-option value="Molholm">
                                Molholm
                            </ion-option>
                        </ion-select>
                        <ion-icon class="icon-dropdown"></ion-icon>
                    </ion-item>
            </ion-list>
            <button ion-button (click)="Changereload()" [disabled]="!enviModel && !appModel"  class="login__login-button">Change and Reload App</button>
        </div>


        <div *ngIf="info === true" class="changeenvi__info">
            <h4 text-center>App Information</h4>
            <p class="changeenvi__infolabel"> Application:</p>
            <p class="changeenvi__infoval" >{{appconfig.appversion.name}}</p>
            <p class="changeenvi__infolabel" > Version:</p>
            <p class="changeenvi__infoval" >{{appVersion_no}} </p>
            <p class="changeenvi__infolabel">Enviornment:</p>
            <p class="changeenvi__infoval" >{{currentEnvi.envi}}</p>
            <p class="changeenvi__infolabel">URL:</p>
            <p class="changeenvi__infoval" >{{currentEnvi.apiUrl}}</p>
            <p class="changeenvi__infolabel">Idp:</p>
            <p class="changeenvi__infoval" >{{currentEnvi.loginservicesUrl}}</p>
            <p class="changeenvi__infolabel">Nemid:</p>
            <p class="changeenvi__infoval" >{{currentEnvi.nemidUrl}}</p>
            <p class="changeenvi__infolabel"> Analytics:</p>
            <p class="changeenvi__infoval" >{{appconfig.appversion.trackanalytics}}</p>
        </div>
    </div>

</ion-content>