<header-viewer [hidemenu]="true" [pagetitle]="pagetitle" [showhome]="true" [topic]="slctopic">
</header-viewer>


<ion-content class="smartsearch">
    <back-viewer class="smartsearch__back" [pagetitle]="backlabel"></back-viewer>
    <div padding *ngIf="showsearchbutton && totallist" class="smartsearch__countinfo">
        {{totallist}} {{allcatalogs}}
    </div>

    <div padding class="searchmobile">
        <div padding>
            <div *ngIf="parentdropdownList">
                <div class="smartsearch__dropdownList">
                    <ion-list>
                        <p class="smartsearch__filterdesc" text-left>
                            {{filterdesc}}
                        </p>
                        <ion-item class="smartsearch__formitems">
                            <ion-label *ngIf="parentdropdownList.controls=='underemne'" class="smartsearch__label"
                                stacked>{{parentdropdownList.navn}}</ion-label>
                            <ion-select okText="{{ok}}" [selectOptions]="{ mode: 'ios' }" cancelText="{{cancel}}" #c
                                class="smartsearch__select"
                                (ionChange)="parentCategory(c.value, parentdropdownList.controls,c)"
                                [(ngModel)]='hovedemneModel'
                                *ngIf="parentdropdownList && parentdropdownList.controls=='underemne'">
                                <ion-option *ngFor="let option of parentdropdownList.values; let i = index;"
                                    value="{{option.id}}">
                                    {{option.value}}
                                </ion-option>
                            </ion-select>
                            <ion-icon class="icon-dropdown"></ion-icon>
                        </ion-item>
                        <div class="smartsearch__line"></div>
                        <ion-item class="smartsearch__formitems" *ngIf="childdropdownList && childdropdownListvalues">
                            <ion-label class="smartsearch__label" stacked>{{childdropdownList.navn}}</ion-label>
                            <ion-select [selectOptions]="{ mode: 'ios' }" okText="{{ok}}" cancelText="{{cancel}}" #d
                                class="smartsearch__select"
                                (ionChange)="childCategory(d.value, childdropdownListvalues.controls,d)"
                                [(ngModel)]='emneModel' *ngIf="childdropdownList.controlled_by=='hovedemne'">
                                <ion-option *ngFor="let option of childdropdownListvalues; let i = index;"
                                    value="{{option.id}}">
                                    {{option.value}}
                                </ion-option>
                            </ion-select>
                            <ion-icon class="icon-dropdown"></ion-icon>
                        </ion-item>
                        <div *ngIf="childdropdownList && childdropdownListvalues" class="smartsearch__line"></div>
                    </ion-list>
                </div>
            </div>
            <div padding-top padding-bottom>
                <button *ngIf="resetlabel" ion-button outline class="smartsearch__resetbutton"
                    (click)="reset($event)">{{resetlabel}} &nbsp;
                    <ion-icon name="refresh"></ion-icon>
                </button>
                <button *ngIf="searchlabel && !isfiltered" ion-button outline class="smartsearch__searchbutton"
                    (click)="search()">{{searchlabel}} &nbsp;
                    <ion-icon name="search"></ion-icon>
                </button>
                <button *ngIf="searchlabel && isfiltered" ion-button outline class="smartsearch__searchbutton"
                    (click)="filteredSearch()">{{showfilteredlabel}} &nbsp;
                    <ion-icon name="search"></ion-icon>
                </button>
            </div>


            <div padding-top *ngIf="showsearchList">
                <ion-list class="smartsearch__searchlist">
                    <ion-item-sliding class="smartsearch__searchitem" (click)="searchDetails(searcheditem)"
                        *ngFor="let searcheditem of searchedList; let i= index">
                        <ion-item>
                            <ion-thumbnail item-start>
                                <img class="smartsearch__img" src="{{pictureUrl}}{{searcheditem.ikon}}">
                            </ion-thumbnail>
                            <h2 class="smartsearch__headingtitle">{{searcheditem.titel}}</h2>
                            <p class="smartsearch__teasertext">{{searcheditem.teaser}}</p>
                            <button class="smartsearch__searchdetailview" ion-button clear item-end>
                                <ion-icon name="arrow-forward"></ion-icon>
                            </button>
                        </ion-item>
                    </ion-item-sliding>
                </ion-list>
            </div>
        </div>
    </div>
    <ion-content>