@import "../../assets/sass/variables";

.smartsearch {
    // background: $color-menu-gray !important;
    line-height: 1.5em;
    margin-top: 3em;
    // font-size: $fontsize;
    // font-size: var(--fontsize);
    font-weight: $fontweight;
    font-weight: var(--fontweight);

    .detailspage {
        height: 100%;

        //box-shadow:  inset 0.5px 0.5px 95px -21px $color-highlight-gray;
        background: $color-background-gray;
    }

    ion-thumbnail {
        min-width: 56px !important;
        min-height: 56px !important;
        max-width: 56px !important;
    }

    .toolbar-background-md {
        background: $color-menu-gray;
    }

    .toolbar-title {
        color: $color-white;
    }
    &__content {
        width: 100%;
    }

    &__content-container {
        margin-top: 3em;
        margin-left: 1em;
        margin-right: 1em;
    }

    .item-inner {
        border-bottom: none !important;
    }

    .bar-button-default-md,
    .toolbar {
        color: $color-text-gray !important;
    }

    .back-button {
        color: $color-white !important;
    }

    .input-has-focus {
        border-bottom-color: none;
    }

    &__hide {
        display: none;
    }

    &__show {
        display: block;
    }

    &__headingtitle {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &__searchbutton {
        background: var(--primary) !important;
        color: var(--primarytext_color) !important; 
        width: 47%;
        float: right;
        border-color: var(--primary) !important;
        border-radius: 2em;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
    }

    &__resetbutton {
        color: var(--primary) !important;
        border: none;
        background: var(--primarytext_color) !important;
        //  border-color: var(--primary);
        border: none;
        width: 47%;
        border-radius: 2em;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
    }

    &__searchlist {
        -webkit-animation: textanimate 1s cubic-bezier(0.215, 0.61, 0.355, 1);
        animation: textanimate 1s cubic-bezier(0.215, 0.61, 0.355, 1);

        @-webkit-keyframes textanimate {
            from {
                opacity: .0;
                -webkit-transform: translateY(10px);
                transform: translateY(10px);
            }
        }

        @keyframes textanimate {
            from {
                opacity: .0;
                -webkit-transform: translateY(10px);
                transform: translateY(10px);
            }
        }

        .item {
            // background: $color-white;
        }
    }

    &__img {
        border-radius: .6em;
        width: 56px !important;
        height: 56px !important;
    }

    &__searchitem {
        margin-bottom: 15px;
        position: relative;
        background-color: #fff;

        // height: 60px;
        border-radius: 6px;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
        overflow: hidden;
        transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    &__searchdetailview {
        // color: var(--primary);
        font-size: 1em !important;
        color: #000;
    }

    &__item {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    &__line {
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
        margin-bottom: .5em;
    }

    &__countinfo {
        text-align: center;
        font-size: 1.3em;
        color: $color-primary-gray;
        margin-top: 0;
    }

    &--movecontentTop {
        margin-top: -14.2em !important;
    }

    &__sharebtn {
        background: #F0F8FF;
        color: #696969;
        text-transform: capitalize;
        width: 5em;

        .icon {
            font-size: 24px;
       
        }
    }

    &__favbtn {
        background: #ffe5e5;
        color: #696969;
        text-transform: capitalize;
        width: 5em;

        .icon {
            font-size: 24px;
            animation: 2.5s infinite beatHeart;

            @keyframes beatHeart {
                0% {
                    transform: scale(1);
                }

                25% {
                    transform: scale(1.1);
                }

                40% {
                    transform: scale(1);
                }

                60% {
                    transform: scale(1.1);
                }

                100% {
                    transform: scale(1);
                }
            }

            @keyframes animateHeart {
                0% {
                    transform: scale(0.8);
                }

                5% {
                    transform: scale(0.9);
                }

                10% {
                    transform: scale(0.8);
                }

                15% {
                    transform: scale(1);
                }

                50% {
                    transform: scale(0.8);
                }

                100% {
                    transform: scale(0.8);
                }
            }
        }
    }

    &__tabbutton {
        background-color: $color-highlight-gray !important;
        width: 100%;
        line-height: 2.8em;
        height: 2.8em;
        text-transform: inherit;
        box-shadow: none;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;

        .button-inner {
            justify-content: center;
            text-overflow: ellipsis;
            overflow-x: hidden;
            white-space: nowrap;
            display: block;
            text-align: center;
            font-size: 1.2em;
        }
    }

    &__dropdownList {
        margin-top: -1em;
    }
    &__formitems{
        padding-left: 0;

        .item-inner{
            padding-right: 0 !important;
        }
    }

    &__label {
        font-size: 15px !important;
        color: #000 !important;
        font-weight: 300;
    }

    &__filterdesc {
        font-size: 15px !important;
        color: #000 !important;
        font-weight: 300;
    }

    &__select {
        background: #ecf0f2;
        height: 3em;

        // padding: 15px !important;
        padding-left: 15px !important;
        border-radius: .4em;
        margin-bottom: .4em;

        .select-text {
            font-weight: normal;
            color: #606060;
            line-height: 1.8;
        }

        .select-icon {
            // background: url("../assets/icon/arrowdown.svg");
            background: url("../assets/icon/down.png");
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
            background-size: 2em;
        }

        .select-icon-inner {
            color: #ecf0f2 !important;
            top: 0 !important;
        }
    }

    .list-ios > .item-block:last-child,
    .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: none;
    }

    .list-ios > .item-block:first-child {
        border-top: none !important;
    }

    @media (min-width: map-get($grid-breakpoints, xxl)) {
        .searchmobile {
            // display: none;
            box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
            min-height: 100%;
            max-width: 960px;
            padding: 16px;
            margin: 0 auto;
        }
    }
}

@media (min-width: map-get($grid-breakpoints, xxl)) {
    .smartsearch {
        position: absolute;
        margin-top: 90px;
        height: 90%;

        &__back {
            display: none;
        }

        &__countinfo {
            margin-top: 1em;
        }
    }
}

// .alert-ios .alert-wrapper,
// .alert-md .alert-wrapper {
//     max-width: 96%;
// }

.alert-ios .alert-radio-label,
.alert-md .alert-radio-label {
    white-space: normal;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0;
}

.swiper-slide {
    height: 29em;
}

.swiper-wrapper {
    margin-top: -102px;
}

textarea {
    height: 10em;
}

//  .details .item-inner{
//  border: none;
//  }

ion-item-sliding.active-slide .item,
ion-item-sliding.active-slide .item.activated {
    margin-bottom: .1em;
}

//GLOBALLL
.alert-ios .alert-checkbox-group,
.alert-ios .alert-radio-group {
    max-height: 31em !important;
}

.alert-ios .alert-wrapper,
.alert-md .alert-wrapper {
    width: 96%;
    max-width: 960px;
}

.alert-ios .alert-tappable:nth-child(odd) {
    background: #ecf0f2;
}

.alert-ios .alert-tappable:nth-child(even) {
    background: #fff;
}

.smartsearch::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}


