<div #tabsdetails *ngIf="tabs.length>1" class="tabsdetails">

  <div class="tabsdetails__container">
    <div class="tabsdetails__content">
      <ng-template ngFor let-item [ngForOf]="tabs" let-i="index" [ngForTrackBy]="trackByFn">
        <button
          [ngClass]="(slcIndex==i)? 'tabsdetails__buttons tabsdetails__buttons--slct':'tabsdetails__buttons  tabsdetails__buttons--unslct'"
          (click)="selectDetail(item, i)" small ion-button>{{item.name}}</button>
      </ng-template>
    </div>
  </div>

  <div *ngIf="isLoading === true" class="spinnercontainer">
    <ion-spinner name="ios"></ion-spinner>
  </div>
</div>