@import "../../assets/sass/variables";

.tabsdetails {

  height: auto;
  position: relative;
  font-size: $fontsize;
  font-size: var(--fontsize);
  font-weight: $fontweight;
  font-weight: var(--fontweight);

  &__content {
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 1em;
    border-bottom: 1px solid $buttonbackground;
    border-bottom: 1px solid var(--buttonbackground);

  }


  &__buttons {
    background: $gradient !important;
    background: var(--secondary) !important;
    margin-bottom: 1em;
    text-transform: none;
    font-size: 1em;
    @media (min-width: map-get($grid-breakpoints, xxl)) {
          font-size: 1.1em;
          font-weight: 400;
      }

    &--slct {
      background: $menuactive !important;
      background: var(--menuactive) !important;
      color: var(--menuactive_textcolor) !important;

    }

    &--unslct {
      background: $menuinactive !important;
      background: var(--menuinactive) !important;
      color: var(--menuinactive_textcolor) !important;

    }
  }

}
