@import "../../assets/sass/variables";

.content {
    line-height: 1.8em;
    color: var(--pagecontent_text_color);
    
    &__item {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        font-size: 1.2em;
        font-weight: 300;
        line-height: 1.5;

        b {
            font-size: 1.2em;
            margin-bottom: .5em;
            display: inline-block;
        }
     &:last-child{
        margin-bottom: 100px;
     }
    }

    &__content {
        padding-bottom: 0 !important;
        padding-top: 0 !important;
        width: 100%;
        height: 100%;
        overflow: scroll;
        -webkit-animation: textanimate 1s cubic-bezier(0.215, 0.61, 0.355, 1);
        animation: textanimate 1s cubic-bezier(0.215, 0.61, 0.355, 1);

        @-webkit-keyframes textanimate {
            from {
                opacity: .0;
                -webkit-transform: translateY(10px);
                transform: translateY(10px);
            }
        }

        @keyframes textanimate {
            from {
                opacity: .0;
                -webkit-transform: translateY(10px);
                transform: translateY(10px);
            }
        }
    }

    &__container {
        display: none;
    }
    &--show{
        display: block;
    }
    &--hide{
        display: none;
    }
}
