<div class="content">
  <div [ngClass]="!contentchngFlag ? 'content__container content--hide' : 'content__container  content--show' ">
    <div padding class="content__content" *ngIf="dataContent && dataContent.length>0">
       <ng-template ngFor let-item [ngForOf]="dataContent" let-i="index" [ngForTrackBy]="trackByFn">
        <div class="content__item">
          <div id="{{i}}" *ngIf="item.indexOf('<a')==-1 && item.indexOf('<iframe')==-1" [innerHtml]="item">
          </div>
          <div id="{{i}}" *ngIf="item.indexOf('<a')==0 || item.indexOf('<a')>0 ">
            <customanchor-viewer [content]="item"></customanchor-viewer>
          </div>
        </div>
      </ng-template>
      <div *ngIf="iframedata && iframedata.length>0" class="searchdetails__item">
        <videoswipe-viewer [alliframes]="iframedata"></videoswipe-viewer>
      </div>
    </div>
  </div>
</div>