<div [ngClass]="!agreed? 'cookie' : 'cookie hide'">
    <div class="cookie__footer">

                <div class="cookie__maincontainer">
                    <div class="cookie_container">
                        <img class="cookie__icon" src="../../assets/icon/cookie.png" />
                        <h5>Samtykke til Carex brug af cookies</h5>
                        <p>Samtykke til Carex brug af cookies
                            Carex bruger egne cookies samt cookies fra tredjepart til statistik, indholdsoptimering,
                            præferencer og målrettet indhold fra Carex.
                            Tredjepart kan bruge cookies til målrettet markedsføring. Ved at klikke OK giver du dit
                            samtykke.</p>
                    </div>

                    <button ion-button (click)="acceptCookie()" class="cookie__button">Ok</button>
                </div>
            </div>
</div>