@import "../../assets/sass/variables";

.questionaireresult {
    line-height: 1.5em;
    margin-top: 3em;

    &__smileitem {
        text-align: center;
    }

    &__smileyitem {
        height: 42px;
    }

    &__contact {
        margin-top: 10px;
        background: var(--primary) !important;
        color: var(--primarytext_color) !important; 
        float: right;
        width: 100%;
        border-color: var(--primary) !important;
        border-radius: 2em;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
        color: var(--primarytext_color) !important;
        text-transform: none;
    }
    &__cancel {
        color: var(--primary) !important;
        border: none;
        background: var(--primarytext_color) !important; 
        width: 100%;
        margin-bottom: 50px;
        border-radius: 2em;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
        text-transform: none;
    }
    &__done{
        margin-top: 10px;
        margin-bottom: 50px;
        background: var(--primary) !important;
        color: var(--primarytext_color) !important; 
        min-width: 50%;
        float: right;
        border-color: var(--primary) !important;
        border-radius: 2em;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
    }

    &__smileyimg {
        width: 56px !important;
        text-align: center;
        height: 56px !important;
        border-radius: 100%;
        margin-bottom: 7px;

        &--good {
            background: #00FF00;
        }

        &--normal {
            background: #ffff00;
        }

        &--bad {
            background: #FF0000;
        }
    }

    @media (max-width: map-get($grid-breakpoints, xxl)) {
        .questionaireresultmobile {
            margin-bottom: 4em;
            font-weight: var(--fontweight);
            font-size: var(--fontsize);
        }
    }

    @media (min-width: map-get($grid-breakpoints, xxl)) {
        .questionaireresultmobile {
            // display: none;
            font-weight: var(--fontweight);
            font-size: var(--fontsize);
            box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
            min-height: 100%;
            max-width: 960px;
            padding: 16px;
            margin: 0 auto;
        }
    }
}

@media (min-width: map-get($grid-breakpoints, xxl)) {
    .questionaireresult {
        position: absolute;
        margin-top: 43px;
        height: 90%;

        &__back {
          //  display: none;
        }
    }
}
