<header-viewer [hidemenu]="true" [pagetitle]="pagetitle" [showhome]="true" [topic]="slctopic">
</header-viewer>


<ion-content class="questionaireresult">
    <back-viewer class="questionaireresult__back" [pagetitle]="heading"></back-viewer>
    <div *ngIf="isLoading === true" class="spinnercontainer">
        <ion-spinner  name="ios"></ion-spinner>
    </div>

    <div class="questionaireresultmobile" padding>
        <h4 text-center>{{score.header}}</h4>
        <div *ngIf="score" padding>

            <div class="questionaireresult__smileitem">
                <img class="questionaireresult__smileyimg questionaireresult__smileyimg--{{score.icon}}"
                    src="../assets/icon/smiley__{{score.icon}}.png">
            </div>
            <div>
                <ng-template ngFor let-item [ngForOf]="score.beskrivelse" let-i="index" [ngForTrackBy]="trackByFn">
                    <div id="{{i}}" [innerHtml]="item">
                    </div>
                </ng-template>
            </div>
            <button *ngIf="score.icon !='good'" ion-button class="questionaireresult__contact" (click)="gotoContactpage()">{{questionaireresultContent.contact}}
            </button>
            <button *ngIf="score.icon !='good'" ion-button class="questionaireresult__cancel" (click)="gotoHome()">{{questionaireresultContent.cancelcontact}}</button>
            <button *ngIf="score.icon ==='good'" ion-button class="questionaireresult__done" (click)="gotoHome()">{{questionaireresultContent.closeresult}} </button>
        </div>
    </div>
    <ion-content>