<header-viewer [hidemenu]="true" [pagetitle]="pagetitle" [showhome]="true" [topic]="slctopic">
</header-viewer>
<ion-content #allquestionaire [ngClass]="(fromnotification === true)? 'questionaire web' : 'questionaire'">
    <back-viewer class="questionaire__back"  *ngIf="fromnotification === true" [pagetitle]="heading"></back-viewer>
    <div *ngIf="isLoading === true" class="spinnercontainer">
        <ion-spinner  name="ios"></ion-spinner>
    </div>
  
    <div class="questionairemobile">
            <questionairenavigation-viewer></questionairenavigation-viewer>
        <div class="questionaire__page" *ngIf="allquestions && allquestions.survey.survey">
            <ion-slides slidesPerView="1" loop=false #questionsslide class="questionaire__queslidectr">
                <ng-template ngFor let-item [ngForOf]="allquestions.survey.survey" let-i="index" [ngForTrackBy]="trackByFn">
                    <ion-slide (swipe)="swipeQuestions($event)" class="questionaire__questionsslide" id="slide{{i}}">
                        <h5 class="questionaire__question-heading">{{questionairedataContent.questions}}: {{i+1}}</h5>
                        <p class="questionaire__question"> {{item.emner[0].overskrift}}</p>
                    </ion-slide>
                </ng-template>
            </ion-slides>
            <ion-slides loop=false slidesPerView="1" class="questionaire__ansslidectr" #answersslide>
                <ng-template ngFor let-item [ngForOf]="allquestions.survey.survey" let-i="index" [ngForTrackBy]="trackByFn">
                    <ion-slide (swipe)="swipeEvent($event)" class="questionaire__ansslide" padding id="slide{{i}}">
                        <form class="questionaire__form" id="questionForm" novalidate>
                            <div class="questionaire__answers-container">
                                <ng-template ngFor let-dropdownitem [ngForOf]="item.emner[0].svarmuligheder" let-k="index" [ngForTrackBy]="trackByFn">
                                    <ion-item mode="ios" class="questionaire__answers">
                                        <ion-label mode="ios">{{dropdownitem.overskrift}}</ion-label>
                                        <ion-checkbox mode="ios" #checkbox id="{{dropdownitem.overskrift}}" [ngModelOptions]="{standalone: true}" [disabled]="((item.svar_uuid && item.svar_uuid) === dropdownitem.uuid)"
                                            [checked]="((item.svar_uuid && item.svar_uuid) === dropdownitem.uuid)" (click)="updateChange($event,dropdownitem,item,k)"></ion-checkbox>
                                    </ion-item>
                                </ng-template>
                            </div>
                        </form>
                    </ion-slide>
                </ng-template>
            </ion-slides>
        </div>
        <div class="questionaire__pagination-container">
            <ul *ngIf="allquestions && allquestions.survey.survey" class="questionaire__pagesitems">
                <ng-template ngFor let-item [ngForOf]="allquestions.survey.survey" let-i="index" [ngForTrackBy]="trackByFn">
                    <li (click)="gotoPage(i)" [ngClass]="(selectedquestionSlide==i)? 'questionaire__pagesitem questionaire__pagesitem--active':'questionaire__pagesitem'">
                        {{i+1}}</li>
                </ng-template>
            </ul>
        </div>
        <div class="questionaire__submit-container" padding>
            <button [disabled]="!submitvalid" ion-button type="submit" (click)="submitQuestionaire()" class="questionaire__submit-button"
                float-right>{{questionairedataContent.submit}}</button>
        </div>
    </div>