@import "../../assets/sass/variables";

.questionaire {
  line-height: 1.5em;
  margin-top: 3em;
  font-weight: $fontweight;
  font-weight: var(--fontweight);

  &__form {
    // margin: 16px;
    // font-weight: 300;
  }

  &__question-container {
    text-align: left;
    margin-top: 70px;

    // color: $color-primary-gray;

  }

  &____queslidectr {
    min-height: 20px;
    /* height: 100%; */
    margin-top: 9px;

    .swiper-wrapper {
      min-height: 20px;
      /* height: 100%; */
      margin-top: 9px;
    }
  }
  &__question{
    text-align: left;
    margin-bottom: 0;
  }
  &__questionsslide {
    min-height: 20px;
    height: 100% !important;
    margin-top: 115px;
    padding: 0px 16px;
  }
  &__ansslide {
    min-height: 20px;
    height: 100% !important;
    margin-top: 115px;
    padding: 16px;
  }


  &__question-heading {
    text-align: left;
    width: 100%;
  }

  .swiper-wrapper {
    // margin-top: -102px;

  }

  textarea {
    height: 10em;
  }

  &__question {

  }

  &__answers {
    font-size: .8em;

    .item-inner {
      border-bottom: none !important;
    }
  }

  &__answers-container {
    box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
    border-radius: 6px;
    margin-bottom: 1.25em;
    background-color: #fff;

    .item {
      background: none;
      font-size: 18px;
      font-weight: 300;
    }
  }
&__page{
  //padding-top
}
  &__submit-container {
    margin-top: 0;
    margin-bottom: 15em;
  }

  &__submit-button {
    background: $primary !important;
    background: var(--primary) !important;
    color: var(--primarytext_color) !important; 
    width: 48%;
    margin-top: 0;
    border-color: $primary !important;
    border-color: var(--primary) !important;
    border-radius: 2em;
    box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
    margin-bottom: 100px;
  }

  &__pagination-container {
    margin-top: -30px;
  }

  &__pagesitems {
    list-style: none;
    display: inline-block;
    float: left;
    text-align: center;
    width: 100%;
    padding-left: 0;
  }

  &__pagesitem {
    border-radius: 6px;
    font-size: 1.1em;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8em;
    display: inline-block;
    margin: .2em .3em;
    border-radius: 666px;
    text-align: center;
    cursor: pointer;
    background-color: #eee;
    color: $color-dark-black;

    &--active {
      background-color: var(--primary);
      color: var(--primarytext_color);
      transition: all .3s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
  @media (min-width: map-get($grid-breakpoints, xl)) {
    .questionairemobile {
      // display: none;
      box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
      min-height: 100%;
      max-width: 960px;
      padding: 0 10px;
      margin: 0 auto;
    }
  }
}
@media (min-width: map-get($grid-breakpoints, xxl)) {
  .questionaire {
    position: absolute;
    margin-top: 90px;
    height: 90%;

    &.web{
      margin-top: 45px;
    }
    .back {
      //display: none;
      margin-top: 17px !important;
    }

    &__countinfo {
      margin-top: 1em;
    }
  }
}

.checkbox-ios .checkbox-checked {
  border-color: var(--primary) !important;
  background-color: var(--primary) !important;
}
