<header-viewer [showback]="false">
</header-viewer>



<ion-content class="terms">
    <div *ngIf="termsContent" class="termsmobile">
        <div class="terms__closecontainer">
            <button end class="terms__closeicon" (click)="closemodal()" ion-button menuClose>
                <ion-icon class="terms__icon" name="close"></ion-icon>
            </button>
        </div>
        <h4 text-center class="terms__heading">{{termsContent.titel}}</h4>
        <div padding *ngIf="termsContent.beskrivelse && contacttextContent">
            <ng-template ngFor let-item [ngForOf]="termsContent.beskrivelse" let-i="index" [ngForTrackBy]="trackByFn">
                <div class="content__item">
                    <div id="{{i}}"
                        *ngIf="item.indexOf('<a')!==0 && item.indexOf('<iframe')==-1 && item.indexOf('%%form_fields_data%%')!==0"
                        [innerHtml]="item">
                    </div>
                    <div id="{{i}}" *ngIf="item.indexOf('<a')==0">
                        <customanchor-viewer [content]="item"></customanchor-viewer>
                    </div>
                    <div id="{{i}}" *ngIf="item.indexOf('%%form_fields_data%%')==0">
                        <ng-template ngFor let-item [ngForOf]="contactForm.get('items').controls" let-i="index"
                            [ngForTrackBy]="trackByFn">
                            <div class="terms__formitem" *ngIf="item.value.type === 'input'">
                                <p class="terms__label"  [innerHtml]="item.value.name">:</p>
                                <p *ngIf="item.value.value!= null || item.value.value!= ''" [innerHtml]="item.value.value"></p>
                                <p *ngIf="item.value.value === null || item.value.value === ''" [innerHtml]="contacttextContent.formvalueundefined"></p>
                            </div>
                            <div class="terms__formitem" *ngIf="item.value.type === 'dropdown'">
                                <p class="terms__label">{{item.value.name}}:</p>
                                <p *ngIf="item.value.slctditem === null || item.value.slctditem === ''" [innerHtml]="contacttextContent.formvalueundefined"></p>
                                <p *ngIf="item.value.slctditem != null || item.value.slctditem != ''" [innerHtml]="item.value.slctditem"></p>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
    <ion-content>