
<menu-viewer></menu-viewer> 
<!-- 
<ion-nav [root]="rootPage" #content2 swipeBackEnabled="false"></ion-nav> -->
<!-- <ion-nav #myNav [root]="rootPage"></ion-nav> -->
<div class="homebrowser">
    <footer-viewer></footer-viewer>
    <!-- <cookie-viewer></cookie-viewer> -->
</div>