@import "../../assets/sass/variables";

.leftmenu {
  padding: 2em;
    
  &__leftcontainer{
    background: var(--menubackground);
    position: relative;
    margin-top: 4em;
    margin-left: -8px;
    height: 100em;

  }

  &__item-container {
    // need a decision if its a standard color

    text-align: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
    // margin-bottom: 1em;
    // vertical-align: middle;
    // line-height: 3.5em;
    // background: var(--buttonspanels);
    // color: var(--buttonstextcolor);
    // margin-right: 4em;
    // margin-left: 4em;

    .fa {
      margin-top: .4em;
    }
  }
  &__externalicon{
    width: 20px;
    float: right;
    padding-top: 12px;
  }
  &__item-text{
    background: var(--buttonbackground);
    color: var(--buttonstextcolor);
    height: 3em;
    line-height: 6em;
    text-transform: none;
    font-weight: 400;
    font-size: 1.5rem;

    &:hover{
      background: $background-gray !important;
      color: #000 !important;
    }

    &--active{
      background: $background-gray !important;
      color: #000 !important;
    }


    >span{
      text-overflow: ellipsis;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      line-height: 3em;
    }
  }
  &__item-groupbutton{
    // background-color: var(--buttonspanels);
    // color: var(--buttonspanelstext_color);
    background-color: var(--submenu_buttonbackground);
    color: var(--submenu_buttontext_color);
    height: 3em;
    line-height: 6em;
    text-transform: none;
    font-weight: 400;
    font-size: 1.5rem;
    box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);

    &:hover{
      background: $background-gray !important;
      color: #000 !important;
    }

    &--active{
      background: $background-gray !important;
      color: #000 !important;
      
    }

    >span{
      text-overflow: ellipsis;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      line-height: 3em;
    }
  }

}
