@import '../../assets/sass/variables';

.headerlogo {
    .toolbar-background,
    .toolbar-background-ios {
        background: transparent;
        height: 4em;
    }
    .bar-buttons,
    .bar-button-default-ios {
        color: $color-white;
    }
    .title {
        margin-top: 0em;
    }
    .title-md {

    }
    .toolbar-title-md {
        width: 100%;
    }
    .toolbar-ios {
        padding-top: 0em;
    }
    &.header-ios {
        padding-top: 0.5em !important;
    }
}