<header-viewer [hidemenu]="true" [showhome]="true">

</header-viewer>
<div class="homebrowser">
    <navigationbar-viewer></navigationbar-viewer>
</div>
<ion-content (ionScroll)="scrolling($event)" #content class="home">
    <div class="homemobile">
        <div #imageContainer>
            <div class="background-image" *ngIf="imageUrl" [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}"></div>
        </div>
        <div #maincontent class="main-content">
            <div *ngIf="isLoading === true" class="spinnercontainer spinnercontainer--home">
                <ion-spinner name="ios"></ion-spinner>
            </div>
            <ion-grid *ngIf="pagemenuButtons">
                <ion-row>
                    <ng-template ngFor let-item [ngForOf]="pagemenuButtons" let-i="index" [ngForTrackBy]="trackByFn">
                        <ion-col class="home__item" col-6>
                            <div class="home__item-container" (click)="detailsPage(item)">
                                <i *ngIf="!(item.ikon.includes('logo'))" class="{{item.ikon}} fa-3x"></i>
                                <i *ngIf="(item.ikon.includes('logo'))" class="fac fa-{{item.ikon}} logo fa-3x"></i>
                                <p *ngIf="item.ikon" class="home__item-text">{{item.funktionsnavn}}</p>
                                <p *ngIf="!item.ikon" class="home__item-textnoikon">{{item.funktionsnavn}}</p>
                            </div>
                        </ion-col>
                    </ng-template>
                </ion-row>
            </ion-grid>
        </div>
    </div>


    <div class="homebrowser">
        <div *ngIf="spinner === true" class="spinnercontainer">
            <ion-spinner name="ios"></ion-spinner>
        </div>
        <ion-grid>
            <div class="main-content">
                <ion-row *ngIf="pagemenuButtons && pagemenuButtons.length>0">
                    <ion-col class="homebrowser__leftcontainer" col-2>
                        <leftmenu-viewer [leftmenuitems]="pagemenuButtons"></leftmenu-viewer>
                    </ion-col>
                    <ion-col class="homebrowser__maincontainer" col-8>
                        <div *ngIf="imageUrl" class="homebrowser__item-container">
                            <div class="homebrowser__background-image" #imageContainer *ngIf="!(webtabsContent && webtabsContent.length>0)" [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}"></div>
                        </div>
                        <div *ngIf="(!webtabsContent || webtabsContent.length==0) && (!websmartsearchContent || websmartsearchContent.length==0)">
                            <div *ngIf="(homecontent && homecontent.length>0)" class="homebrowser__homecontent">
                                <ng-template ngFor let-item [ngForOf]="homecontent" let-i="index" [ngForTrackBy]="trackByFn">
                                    <div [innerHtml]="item"></div>
                                </ng-template>
                            </div>
                        </div>
                        <div class="homebrowser__alldetailspage">
                            <tabsdetails-viewer *ngIf="webtabstoDisplay" [tabs]="webtabstoDisplay" #tabsviewer></tabsdetails-viewer>
                            <content-viewer *ngIf="webtabsContent" [tabsContent]="webtabsContent"></content-viewer>
                            <smartsearch-viewer *ngIf="websmartsearchContent && websmartsearchContent.status" [smartsearchwebContent]="websmartsearchContent"></smartsearch-viewer>
                            <searchdetails-viewer *ngIf="websearchdtlContent && websearchdtlContent.titel"></searchdetails-viewer>
                            <stress-viewer *ngIf="webstressContent && webstressContent.status"></stress-viewer>
                            <contact-viewer *ngIf="webcontactContent && webcontactContent.result"></contact-viewer>
                            <questionaire-viewer *ngIf="webquestionarieContent && webquestionarieContent.result ">
                            </questionaire-viewer>
                            <questionairehistory-viewer *ngIf="webhistroryquestionarieContent && webhistroryquestionarieContent.result ">
                            </questionairehistory-viewer>
                        </div>
                    </ion-col>
                    <ion-col class="homebrowser__rightcontainer" col-2>
                    </ion-col>

                </ion-row>
            </div>
        </ion-grid>
    </div>

</ion-content>