@import "../../assets/sass/variables";

.home {
    line-height: 1.5em;
    background: $gradient;
    background: var(--gradient);
    

    >.scroll-content{
        background: inherit;
    }
    &__headertitle {
        .toolbar-title-md {
            width: 100% !important;
        }
    }

    .homemobile {
        position: relative;
        background: inherit;
        background-attachment: fixed;
    }

    .imgcontainer {
        margin-left: 5em;
    }

    &__item {
        text-align: center;
        color: $color-white;
        padding: .5em;
    }

    &__item-container {
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12); // need a decision if its a standard color
        border-radius: .5em;
        min-height: 7em;
        text-align: center;
        vertical-align: middle;
        background: $buttonbackground;
        color: $primarytext_color;
        background: var(--buttonbackground);
        color: var(--buttonstextcolor);
        padding: .4em;
        height: auto;
        padding-top: 10px;

        // border: .5px solid rgba(255, 255, 255, 0.47);
        //box-shadow: 0 0 0 0.0625em var(--buttonstextcolor);
        i {
            padding-top: 5px;
        }

        border: 0.5px solid rgba(255, 255, 255, 0.47); // production exsiitng needs decision

        .fa {
            margin-top: .4em;
        }
    }

    .toolbar-background,
    .toolbar-background-ios {
        background: transparent !important;
    }

    ion-img {
        img {
            // height: 100%;
       
        }
    }

    &__bg-image {
        width: 100%;
        height: 16em;
        margin-top: 4em;
    }

    &__notifications {
        color: $primarytext_color;
        color: var(--primarytext_color);
    }

    &__hello {
        float: left;
        display: inline-block;
        width: 100%;
    }

    &__hello-text {
        float: left;
        margin-left: .9em;
        color: $primarytext_color;
        color: var(--primarytext_color);
        width: 70%;
    }

    &__img {
        height: 7em;
        width: 7em;
        margin-top: 3em;
        margin-right: 1em;
        float: right;
        color: $primarytext_color;
        color: var(--primarytext_color);
        width: 20%;

        .fa {
            font-size: 5em;
            color: $primarytext_color;
            color: var(--primarytext_color);
            float: right;
        }
    }

    .searchbar-ios .searchbar-input {
        background: $gradient;
        background: var(--secondary);
    }

    .searchbar-ios.searchbar-left-aligned .searchbar-input {
        height: 4em;
    }

    &__searchbar {
        margin-bottom: .5em;
        background: none;
        padding: .2em;
    }

    &__item-text {
        text-align: center;
        vertical-align: middle;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-top: 10px;
    }

    &__item-textnoikon {
        text-align: center;
        vertical-align: middle;
        padding-top: 10px;
    }
    &__img-container {}

    &__imgcontainer {
        position: relative;
        display: block;
        height: 20em;
        width: 100%;
        will-change: background-position-y;
    }

    .background-image {
        background: url("../../assets/imgs/molhom_background.jpeg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 13em;
        margin-top: 5em;
        overflow: hidden;
        z-index: 1;
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        .background-image {
            height: 33em;
        }
    }

    .main-content {
        background: inherit;
        position: absolute;
        display: block;
        width: 100%;
    }


    @media (max-width: map-get($grid-breakpoints, xxl)) {
        .homebrowser {
            display: none;
        }
    }

    @media (min-width: map-get($grid-breakpoints, xxl)) {
        .homemobile {
            display: none;
        }
    }

    .homebrowser {
        .row {
            background: var(--pagecontent);
        }

        &__leftcontainer {
            background: $gradient;
            background: var(--menubackground);
            position: relative;
            margin-top: 5em;
            margin-left: -8px;
            height: 100em;
            height: 100em;
            border-right: 1px solid #ccc;
        }

        .main-content {
            // background: $gradient;
            // background: var(--gradient);
            position: relative;
        }

        &__maincontainer {
            background: var(--pagecontent);
            margin-top: 7em;
            max-width: 960px;
            padding: 16px;
            margin: 0 auto;
            box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
            max-height: 122vh;
            overflow-y: scroll;
            overflow-x: hidden !important;
        }
        &__item {
            text-align: center;
            color: $color-white;
            padding: .4em;
        }

        &__rightcontainer {
            background: $gradient;
            background: var(--menubackground);
            margin-top: 4em;
            margin-right: -.3em;
        }

        &__item-container {
            border-radius: 2em;
            height: 4em;
            text-align: center;
            vertical-align: middle;
            line-height: 3.5em;
            color: $primarytext_color;
            color: var(--buttonstextcolor);
            padding: .5em;
            height: auto;

            .fa {
                margin-top: .4em;
            }
        }

        &__background-image {
            background: url("https://connect.carex.dk/pictures/molholm_background.png") no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: contain;
            height: 29em;
            display: block;
            margin-top: 5em;
        }

        &__homecontent {
            margin-top: 5em;
            font-size: 1.2em;
            font-weight: 300;
        }

        &__alldetailspage {
            margin-top: 7em;
            margin-right: -8px;
        }
    }
}

@media (min-width: map-get($grid-breakpoints, xxl)) {
    .home {
        background: none;
        font-weight: 300;
        font-size: 16px;
    }
}
svg.logo {
    font-size: 3.46em;
}

@media (max-width: map-get($grid-breakpoints, xxl)) {
    .homebrowser {
        display: none;
    }
}

@media (min-width: map-get($grid-breakpoints, xxl)) {
    .homemobile {
        display: none;
    }
}

// .home::-webkit-scrollbar { 
//     width: 0px !important;
//     background: transparent !important; 
//   }