@import "../../assets/sass/variables";
.contact {
    margin-bottom: 300px;
    line-height: 1.5em;
    margin-top: 3em;
    font-weight: $fontweight;
    font-weight: var(--fontweight);
    &__send {
        background: var(--primary) !important;
        color: var(--primarytext_color) !important;
        margin-right: 18px;
        width: 100%;
        border-color: var(--primary) !important;
        border-radius: 2em;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
    }
    &__cancel {
        background: var(--primarytext_color) !important;
        color: var(--primary) !important;
        border: none;
        width: 100%;
        margin-bottom: 100px;
        border-radius: 2em;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
    }
    &__label {
        font-size: 15px !important;
        color: $color-dark-black !important;
        font-weight: 300;
    }
    &__input {
        input,
        textarea {
            padding: 15px !important;
            font-weight: normal;
            background: #ecf0f2;
            color: #000;
            border-radius: .4em;
            width: 100% !important;
        }
        &--error {
            .text-input {
                border: 1px solid $color-error-red;
            }
        }
    }
    &__checkbox {
        .item-cover-ios {
            width: 80%;
        }
    }
    &__icon {
        font-size: 3rem !important;
        z-index: 99;
    }
    &__line {
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
        margin-bottom: .5em;
    }
    .toggle-checked .toggle-icon {
        background-color: #8cb742 !important;
    }
    &__select {
        background: #ecf0f2;
        height: 3em;
        padding-left: 15px !important;
        border-radius: .4em;
        margin-bottom: .4em;
        .select-text {
            font-weight: normal;
            color: #606060;
            line-height: 1.8;
        }
        .select-icon {
            // background: url("../assets/icon/arrowdown.svg");
            background: url("../assets/icon/down.png");
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
            background-size: 2em;
        }
        .select-icon-inner {
            color: #ecf0f2 !important;
            top: 0 !important;
        }
        &--error {
            border: 1px solid $color-error-red;
        }
    }
    .item-block,
    .item-inner {
        border: none !important;
        box-shadow: none !important;
    }
    .item-inner {
        margin-right: 10px;
    }
    .contactmobile {
        padding-bottom: 900px;
    }
    @media (min-width: map-get($grid-breakpoints, xl)) {
        .contactmobile {
            box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
            min-height: 100%;
            max-width: 960px;
            padding: 0 10px;
            margin: 0 auto;
        }
    }
}

@media (min-width: map-get($grid-breakpoints, xxl)) {
    .contact {
        position: absolute;
        margin-top: 90px; //90px;
        height: 90%;
        &.web {
            margin-top: 45px;
        }
        &__back {
            //      display: none;
        }
        &__validatecpr {
            margin-left: 93% !important;
        }
        &__countinfo {
            margin-top: 1em;
        }
    }
}