<div *ngIf="isLoading === true" class="spinnercontainer">
    <ion-spinner  name="ios"></ion-spinner>
</div>
<div *ngIf="!iframedUrl">

     <div *ngIf="links && links.length>0">
        <ng-template ngFor let-linkitem [ngForOf]="links" let-i="index" [ngForTrackBy]="trackByFn">
            <div  *ngIf="linkitem.isanchor===false" class="customanchor__linkscontent" [innerHtml]=" linkitem.urltext "></div>
            <a *ngIf="linkitem.isanchor===true"  class="customanchor__link"  (click)="openWindow($event,linkitem.anchor)" href="#">{{linkitem.value}}</a>
        </ng-template>
    </div> 

     <div *ngIf="!links || links.length==0">
        <a *ngIf="isbutton===false"  class="customanchor"  (click)="openWindow($event,content)" href="#">{{urltext}}</a>
     </div>


    <button *ngIf="isbutton===true" ion-button type="button"  [value]="urltext" (click)="openWindow($event,content)" class="customanchor__button" icon-end>{{urltext}} <ion-icon ios="ios-open-outline"></ion-icon>
      </button>
</div>
<div *ngIf="iframedUrl">
    <customiframe-viewer [iframeUrl]="iframedUrl"></customiframe-viewer>
</div>