@import "../../assets/sass/variables";

.customanchor {
    height: 2em;
    display: inline-block;
    color: $links;
    color: var(--links);
    // float: left;
    padding-right: 4px;
    // padding-left: 4px;

    &__button{
       background: var(--primary) !important;
        color: var(--primarytext_color) !important;
        width: 100%;
        border-color: var(--primary) !important;
        border-radius: 2em;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
    }
    &__linkscontent{
        float: left;
        display: contents;
    }
    &__link{
        float: left;
        display: contents;
        color: var(--links);
    }

}