<ion-header class="header">
    <ion-navbar [ngClass]="(testscroll == false)? 'header__hideback': 'header__showback' " *ngIf="showback === false || !showback">
        <button float-left [ngClass]="testscroll? 'header__homebtn': 'header__homebtnsccrolloff' " (click)="gotoHome()"
            *ngIf="showhome" ion-button icon-only>
            <ion-icon class="header__home" ios="md-home" md="md-home"></ion-icon>
        </button>
        <ion-title class="header__title" text-center>
            <div *ngIf="baseUrl && !pagetitle && logo">
                <img class="header__logo" src="{{baseUrl}}{{logo}}" />
            </div>
            <div class="header__titletext" *ngIf="pagetitle">
                {{pagetitle}}
            </div>
        </ion-title>
        <button ion-button *ngIf="hidemenu" float-right icon-only class="header__notificationsbtn" (click)="gotoNotification()">
            <ion-icon class="header__notificationsicon" ios="ios-notifications" md="md-notifications">
             <span *ngIf="(notifycountvalue  && notifycountvalue!=0)" class="header__notificationcount">{{notifycountvalue}}</span>
            </ion-icon>
        </button>
        <button end *ngIf="hidemenu" class="header__menuicon" ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
    <div *ngIf="(topic && testscroll===true)" class="header__topic-container">
        <button [ngClass]="testscroll? 'header__topic header__topic--active': 'header__topic' " ion-button small round>{{topic}}</button>
    </div>
    <ion-navbar *ngIf="(showback === true && !testscroll)" class="header__backtlt" hideBackButton="false">
        <ion-title class="header__title" text-center>
            <div *ngIf="baseUrl && !testscroll">
                <img class="header__logo" src="{{baseUrl}}{{logo}}" />
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>