@import "../../assets/sass/variables";

.searchdetails {
  line-height: 1.5em;
  margin-top: 3em;
  font-weight: $fontweight;
  font-weight: var(--fontweight);
  -ms-overflow-style: none;
  @media (min-width: map-get($grid-breakpoints, xxl)) {
    z-index: 99;
  }

  .toolbar-background,
  .toolbar-background-ios {
    background: inherit !important;
    height: 4em;
  }

  &__box_heading {
    padding: 1rem 1.75rem;
    border-bottom: 1px solid #e6e6e6;
    color: $color-dark-black;
    background-color: #e6e6e6;
    margin-bottom: 0;
    text-align: center;
  }

  .bar-buttons {
    color: var(--primarytext_color);
  }

  .title {
    //width: 80%;
    margin-top: .2em;
  }

  .title-md {
    //margin-left: -1.8em;
  }

  .toolbar-title-md {
    width: 85%;
  }

  &__bg-img {
    width: 100%;
    // height: 15em;
    margin-top: -.5em;
  }

  &__item {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    color: #000;
    line-height: 1.5;
    font-size: 1.2em;
    font-weight: 300;
  }

  &__content {
    margin-bottom: 3em;
    box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
    min-height: 100%;
    // max-width: 960px;
 padding:16px;
    margin: 0 auto;
    -webkit-animation: textanimate 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    animation: textanimate 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    @-webkit-keyframes textanimate {
      from {
        opacity: .0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
      }
    }
    @keyframes textanimate {
      from {
        opacity: .0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
      }
    }
  }

  &__shadedcontainer {
    height: 9.5em;
    width: 100%;
    margin-top: -10em;
    background: #000;
    opacity: .5;
  }

  &__shadednobgcontainer {
    height: 9.5em;
    width: 100%;
    background: #000;
    opacity: .5;
  }

  &__txtcontainer {
    margin-top: -7em;
    position: absolute;
    color: $color-white;
    overflow: scroll;
    font-size: 1.3em;
    font-weight: 600;
    -ms-overflow-style: none;
  }
  &__txtnobgcontainer {
    position: absolute;
    color: $color-white;
    overflow: scroll;
    font-size: 1.3em;
    font-weight: 600;
    margin-top: -7em;
  }

  &__download {
    color: var(--links);
    width: 100%;
    height: 3em;
    position: absolute;
    margin-top: 0;
    margin-left: -2em;
    z-index: 999;
  }

  &__downloadlink {
    color: var(--links);
    float: right;
    font-size: 2em;
  }

  //for foucs color changes issues
  @media (min-width: map-get($grid-breakpoints, xxl)) {
    .searchdetailsmobile {
      // display: none;
      box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
      min-height: 100%;
      max-width: 960px;
   padding:16px;
      margin: 0 auto;
    }
  }
}
@media (min-width: map-get($grid-breakpoints, xxl)) {
  .searchdetails {
    position: absolute;
    margin-top: 110px;

    &__back {
      display: none;
    }
  }
}
.scroll-content::-webkit-scrollbar { 
  width: 0px !important;
  background: transparent !important; 
}
.fixed-content::-webkit-scrollbar { 
  width: 0px !important;
  background: transparent !important; 
}
.searchdetails__txtcontainer::-webkit-scrollbar { 
  width: 0px !important;
  background: transparent !important; 
}
.searchdetails__txtnobgcontainer::-webkit-scrollbar { 
  width: 0px !important;
  background: transparent !important; 
}
