<header-viewer [hidemenu]="true" [pagetitle]="headertitle" [showhome]="true">
</header-viewer>

<ion-content class="notifications">
  <div *ngIf="isLoading === true" class="spinnercontainer">
    <ion-spinner  name="ios"></ion-spinner>
  </div>

  <div class="notificationsmobile">
    <h4 *ngIf="notificationsContent" padding class="notifications__heading">{{notificationsContent.heading}}</h4>
    <div padding *ngIf="allnotifications  && notificationsContent">
      <ion-list class="notifications__list">
        <div class="swiper-no-swiping" [hidden]="item.isdeleted === 'true'" #slidingItem class="notifications__item" *ngFor="let item of allnotifications; let i= index">
          <ion-item [ngClass]="(item.seen === true)? 'notifications__ionitem notifications__isread': 'notifications__ionitem notifications__isunread '">
            <ion-thumbnail class="notifications__counceltxtctnr" item-start>
              <img class="notifications__img" src="{{baseUrl}}{{item.logo}}" />
              <h2 *ngIf="item.header" [ngClass]="(selectedNotification === i)?  'notifications__notifyheading notifications__notifyheading--active': 'notifications__notifyheading notifications__notifyheading--inactive '"
                [innerHtml]="item.header"></h2>
              <div *ngIf="item.body" [ngClass]="(selectedNotification === i)?  'notifications__notifymsg notifications__notifymsg--active': 'notifications__notifymsg notifications__notifymsg--inactive'">
                <ng-template ngFor let-textitem [ngForOf]="item.body" let-i="index" [ngForTrackBy]="trackByFn">
                  <div class="notifications__itemcontent">
                    <div id="{{i}}" *ngIf="textitem.indexOf('<a')==-1 && textitem.indexOf('<iframe')==-1" [innerHtml]="textitem">
                    </div>
                    <div id="{{i}}" *ngIf="textitem.indexOf('<a')==0 || textitem.indexOf('<a')>0 ">
                      <customanchor-viewer [content]="textitem"></customanchor-viewer>
                    </div>
                </div>
                </ng-template>
              </div>
            </ion-thumbnail>
            <ion-thumbnail class="notifications__counceldotsctnr" item-start>
              <ion-icon *ngIf="selectedNotification === i" (click)="enableread($event,item,i)" class="notifications__closeicon" ios="ios-arrow-dropup"
                name="arrow-dropup"></ion-icon>
              <ion-icon *ngIf="selectedNotification != i" (click)="enableread($event,item,i)" class="notifications__closeicon" ios="ios-arrow-dropdown"
                name="arrow-dropdown"></ion-icon>
              <div class="notifications__time">
                <ion-icon class="notifications__watch" name="clock" md="md-clock"></ion-icon>
                <p class="notifications__timestamp" *ngIf="item.today === true">{{item.timestamp}}</p>
                <p class="notifications__timestamp"  *ngIf="item.today === false">{{item.datestamp}}</p>
              </div>
            </ion-thumbnail>
          </ion-item>
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>