@import "../../assets/sass/variables";

.notifications {
    line-height: 1.5em;
    margin-top: 70px;
    font-size: $fontsize;
    font-size: var(--fontsize);
    font-weight: $fontweight;
    font-weight: var(--fontweight);

    &__list {
        -webkit-animation: textanimate 1s cubic-bezier(0.215, 0.61, 0.355, 1);
        animation: textanimate 1s cubic-bezier(0.215, 0.61, 0.355, 1);

        @-webkit-keyframes textanimate {
            from {
                opacity: .0;
                -webkit-transform: translateY(10px);
                transform: translateY(10px);
            }
        }

        @keyframes textanimate {
            from {
                opacity: .0;
                -webkit-transform: translateY(10px);
                transform: translateY(10px);
            }
        }

        .item {
            // background: $color-white;
            // color: $color-menu-gray;
            // border-radius: 6px;
            // box-shadow: 2px 4px 11px 4px rgba(56,70,80,.12);
            // overflow: hidden;
            // transition: all .1s cubic-bezier(.215,.61,.355,1);
            // cursor: pointer;
            // margin-bottom: 1em;
       
        }
    }

    &__counceldotsctnr {
        min-width: 30px !important;
        min-height: 56px !important;
        display: inline-block;
        float: left;
        margin-bottom: 0 !important;
        text-align: center;
        margin-right: 22px !important;
    }

    &__counceltxtctnr {
        min-height: 56px !important;
    }

    &__delete {
        text-transform: capitalize;
    }

    &__itemcontent {
        margin-bottom: 1.5em;
        line-height: 1.5;

        b {
            font-size: 1.2em;
            margin-bottom: .5em;
            display: inline-block;
        }

        &:last-child {
            margin-bottom: 100px;
        }
        p {
            font-size: 20.4px;
            color: inherit !important;
        }
    }

    &__ionitem {
        .item-inner {
            display: none !important;
        }

        .button-effect {
            display: none !important;
        }
    }

    &__imgctnr {
        min-width: 56px !important;
        min-height: 56px !important;
        background: var(--primary);
    }

    &__notifymsg {
        // text-overflow: ellipsis !important;
        // white-space: nowrap !important;
        // overflow: hidden !important;
        font-size: $fontsize;
        font-size: var(--fontsize);
        font-weight: $fontweight;
        font-weight: var(--fontweight);

        &--active {
            text-overflow: initial !important;
            white-space: normal !important;
            overflow: visible !important;

            @media (max-width: map-get($grid-breakpoints, xxxl)) {
                width: 120%;
            }

            @media (min-width: map-get($grid-breakpoints, xxxl)) {
                width: 100%;
            }
        }

        &--inactive {
            text-overflow: ellipsis !important;
            white-space: nowrap !important;
            overflow: hidden !important;
            height: 36px;
        }
    }

    .item-inner {
        border-bottom: none !important;
    }

    &__notifyheading {
        text-align: left;
        padding-bottom: 5px;

        &--active {
            text-overflow: initial !important;
            white-space: normal !important;
            overflow: visible !important;
        }

        &--inactive {
            text-overflow: ellipsis !important;
            white-space: nowrap !important;
            overflow: hidden !important;
        }
    }

    &__dots {
        font-weight: bolder;
        margin-top: 3px !important;
        font-size: 23px !important;
    }

    &__isread {
        background-color: #fff;
    }

    &__isunread {
        background-color: #ecf0f2;
    }

    &__item {
        margin-bottom: 15px;
        position: relative;
        background-color: #fff;

        // height: 60px;
        border-radius: 6px;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
        overflow: hidden;
        transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);

        // .item-inner {
        //   display: inherit !important;
        //   overflow: visible !important;
        // }

        &:last-child {
            margin-bottom: 80px;
        }
    }

    .list-ios > .item-block:last-child,
    .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: none;
    }

    .list-ios > .item-block:first-child {
        border-top: none !important;
    }

    &__item {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    &__timestamp {
        padding-left: 0;
        margin-left: 0;
        text-align: justify;
        font-size: 1.1rem !important;
        padding-left: 16px;
    }

    &__time {
        float: left;
        font-size: 9px !important;
        bottom: 4px;
        position: absolute;
        display: inline-block;
        width: 100px;
        margin-left: -44px;
        bottom: 1px;
    }

    &__closeicon {
        font-size: 30px;
        position: absolute;
        top: 10px;
        width: 50px;
        height: 50px;
        margin-left: -13px;
    }

    &__img {
        border-radius: .6em;
        width: 56px !important;
        height: 56px !important;
        object-fit: contain;
        background: var(--primary);
        float: left;
        margin-right: 10px;
    }

    &__watch {
        color: #8e8e8e;
        opacity: .5;
        font-size: 14px;
        float: left;
    }

    .bar-button-default-md,
    .toolbar,
    .toolbar-title {
        color: $color-white !important;
        background-color: $primary;
    }

    .scroll-content {
        overflow-y: auto !important;
    }

    .back-button {
        color: $color-white !important;
        background-color: $primary;
    }

    .input-wrapper ion-label {
        text-overflow: unset;
        white-space: normal;
    }

    &__heading {
        padding-bottom: 0 !important;
    }

    @media (min-width: map-get($grid-breakpoints, xxl)) {
        .notificationsmobile {
            box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
            min-height: 100%;
            max-width: 960px;
            padding: 16px;
            margin: 0 auto;
        }
    }
}

.notify {
    opacity: .8;
    background-color: #000;
    color: #fff;
    padding: 5px;
    text-align: left;
}
