@import "../../assets/sass/variables";
@media (max-width: map-get($grid-breakpoints, xxl)) {
  .footer {
    display: none;
  }
}

.footer {
  background: $primary;
  color: $primarytext_color;
  background: var(--primary);
  color: var(--primarytext_color);

  &__maincontainer {
    color: $primarytext_color;
    color: var(--primarytext_color);
    text-align: center;
    font-size: 1rem;
  }
}
