<ion-footer>

    <ion-grid>
        <ion-row>
            <ion-col class="footer__left" col-2>
            </ion-col>
            <ion-col class="footer__maincontainer" col-8>
                powered by carex. all rights reserved
            </ion-col>
            <ion-col class="footer__left" col-2>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>