@import "../../assets/sass/variables";
.alldetails {
    background: $pagecontent;
    background: var(--pagecontent);
    color: #000; //var(--primary);
    color: var(--pagecontent_text_color);
    line-height: 1.5em;
    margin-top: 3em;
    font-weight: $fontweight;
    font-weight: var(--fontweight);
    .detailspage {
        height: 100%;
    }
    &__container{
        height: 100%;
    }
}