@import "../../assets/sass/variables";

.htmlcontent {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.5;
    
    &__item {
        // margin-top: 10px;
        // margin-bottom: 10px;
        // display: inline-block;
        &:last-child{
        >.htmlcontent__inneritem{
            &:last-child{
                margin-bottom: 100px;
            }}
        }
    }
    &__inneritem{
        float: left;
        margin-top: 10px;
        // margin-bottom: 10px;
        width: 100%;
        display: inline-block;

    }
    &__anchoritem{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}