<div *ngIf="htmlelements" padding class="htmlcontent">

         <ng-template ngFor let-item [ngForOf]="htmlelements" let-i="index" [ngForTrackBy]="trackByFn">
            <div *ngIf="item.childNodes.length==0" class="htmlcontent__item">
                <div class="htmlcontent__inneritem" id="{{i}}" *ngIf="item.isWhitespace===false" [innerHtml]="item.rawText">
                </div>
                <div class="htmlcontent__inneritem" id="{{i}}" *ngIf="item.rawTagName && item.rawTagName!=='a' && item.rawTagName!=='iframe'" [innerHtml]="item.outerHTML">
                </div>
                <div class="htmlcontent__inneritem"  id="{{i}}" *ngIf="item.rawTagName==='a'">
                    <customanchor-viewer [content]="item.outerHTML"></customanchor-viewer>
                </div>
            </div>
            <div *ngIf="item.childNodes.length>0 && (commontags.indexOf(item.rawTagName)!=-1)" class="htmlcontent__item">
                <div class="htmlcontent__inneritem" id="{{i}}" *ngIf="item.rawTagName" [innerHtml]="item.outerHTML">
                </div>
            </div>
            <div *ngIf="item.childNodes.length>0 && commontags.indexOf(item.rawTagName)===-1" class="htmlcontent__item">
                <ng-template ngFor let-inneritem [ngForOf]="item.childNodes" let-j="index" [ngForTrackBy]="trackByFn">
                    <div class="htmlcontent__inneritem" id="{{i}}" *ngIf="item.isWhitespace===false"  [innerHtml]="item.rawText">
                    </div>
                    <div class="htmlcontent__inneritem" id="{{i}}" *ngIf="item.rawTagName && item.rawTagName!=='a' && item.rawTagName!=='iframe'" [innerHtml]="item.outerHTML">
                    </div>
                    <div class="htmlcontent__inneritem"  id="{{j}}" *ngIf="inneritem.rawTagName=='a'">
                        <customanchor-viewer [content]="inneritem.outerHTML"></customanchor-viewer>
                    </div>
                </ng-template>
            </div>
             <div *ngIf="item.childNodes.length>0 && item.rawTagName==='a'" class="htmlcontent__anchoritem">
                <div class="htmlcontent__inneritem"  id="{{j}}">
                    <customanchor-viewer [content]="item.outerHTML"></customanchor-viewer>
                </div>
            </div> 
        </ng-template>        
        <div *ngIf="iframedata && iframedata.length>0" class="searchdetails__item">
            <videoswipe-viewer [alliframes]="iframedata"></videoswipe-viewer>
          </div>
</div>