<div class="navigationbar">
    <div class="navigationbar__container">
        <div class="navigationbar__navitem" (click)="home()">
            <a class="navigationbar__item-text" *ngIf="backtext">{{backtext}} </a>
            <ion-icon name="arrow-forward" md="ios-arrow-forward"></ion-icon>
        </div>
        <ng-template ngFor let-item *ngIf="navbarlist" [ngForOf]="navbarlist" let-i="index" [ngForTrackBy]="trackByFn">
            <div class="navigationbar__navitem" (click)="detailsPage(item)">
                <a class="navigationbar__item-text">{{item.funktionsnavn}}</a>
                <ion-icon name="arrow-forward" md="ios-arrow-forward"></ion-icon>
            </div>
        </ng-template>
    </div>
</div>