.popoverInnerDialog {
  padding: 10% 10% 10% 10%;
  display: inline-block;
  margin: 0 auto;
}

.popoverInnerDialog--hide {
  display: none;
}

.popoverInnerDialog--show {
  display: block;
}
/*# sourceMappingURL=ionicpopover.css.map */