<header-viewer [hidemenu]="true" [pagetitle]="heading" [showhome]="true">
</header-viewer>

<ion-content class="otherrelations">
    <div class="otherrelationsmobile">
        <h1 *ngIf="heading" padding class="otherrelations__heading">{{heading}}</h1>
        <div *ngIf="paragraphs" padding>
            <ng-template ngFor let-item [ngForOf]="paragraphs" let-i="index" [ngForTrackBy]="trackByFn">
                <div class="otherrelations__item">
                    <div id="{{i}}" *ngIf="item.indexOf('<a')!==0 && item.indexOf('<iframe')==-1" [innerHtml]="item">
                    </div>
                    <div id="{{i}}" *ngIf="item.indexOf('<a')==0">
                        <customanchor-viewer [content]="item"></customanchor-viewer>
                    </div>
                </div>
            </ng-template>
            <img class="otherrelations__store" *ngIf="ioslogo" src="{{baseUrl}}{{ioslogo}}" />
            <img class="otherrelations__store" *ngIf="anroidlogo" float-right src="{{baseUrl}}{{anroidlogo}}" />
        </div>
    </div>
</ion-content>


