@import "../../assets/sass/variables";
.otherrelations {
    line-height: 1.5em;
    margin-top: 70px;
    font-size: $fontsize;
    font-size: var(--fontsize);
    font-weight: $fontweight;
    font-weight: var(--fontweight);
    .toolbar,
    .toolbar-title,
    .bar-button-default-md {
        color: $color-white !important;
        background-color: $primary;
    }
    .back-button {
        color: $color-white !important;
        background-color: $primary;
    }
    .item-icon {
        color: $color-highlight-green;
    }
    .label {
        color: $primary;
        font-weight: 500;
    }
    .toggle-ios.toggle-checked .toggle-icon {
        background-color: $primary;
    }
    .toggle-md.toggle-inner {
        background-color: $primary;
    }
    .toggle-md .toggle-icon {
        background-color: rgba(51, 76, 85, 0.3);
    }
    .toggle-md.toggle-checked .toggle-inner {
        background-color: $primary;
    }
    &__verison {
        text-align: center;
        color: $color-menu-gray;
        opacity: .5;
    }
    &__store {
        // width: 41%;
        width: 10em;
        float: left;
        margin-top: 1em;
        height: 3.5em;
        margin-bottom: 2em;
    }
    &__item {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
    &__heading {
        padding-bottom: 0 !important;
        text-align: center;
    }
    @media (max-width: map-get($grid-breakpoints, xxl)) {
        .otherrelationsbrowser {
            display: none;
        }
    }
    @media (min-width: map-get($grid-breakpoints, xxl)) {
        .otherrelationsmobile {
            //  display: none;
            box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, .12);
            min-height: 100%;
            max-width: 960px;
            padding: 16px;
            margin: 0 auto;
        }
    }
}