@import "../../assets/sass/variables";

.settings {
    line-height: 1.5em;
    margin-top: 4.5em;
    margin-bottom: 4em;
    background: #FCFCFD; //#fafafa;

    &__heading {
        // color: #214D6E;
        font-size: 1.5em;
    }

    &__item {
        min-height: 65px;
        margin-bottom: 15px;
        position: relative;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
        overflow: hidden;
        transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
    }



    &__img {
        border-radius: .6em;
    }

    &__container {
        border-top: 1px solid rgba(0, 0, 0, 0.125);
    }

    &__category {
        text-align: left;
        float: left;
        color: #00003f;
    }

    &__accountcontainer {
        border-top: none;
        padding-top: 0;
        padding-bottom: 0;
    }

    &__labelheading {
        font-size: 1.2em;

        // color: #214D6E;
        font-weight: 500;
        padding-bottom: .5em;
        text-transform: capitalize;
    }

    &__headingicon {
        //color: #214D6E;// #214D6E;
        padding-right: .3em;
    }

    &__label {
        //color: #214D6E;
   
    }

    &__icon {
        color: $primary;
    }
    &__view {
        font-size: 1em !important;
        color: #000;
    }
    .toggle-checked .toggle-icon {
        background-color: #8cb742 !important;
    }

    .list-ios > .item-block:last-child,
    .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: none;
    }

    .list-ios > .item-block:first-child {
        border-top: none !important;
    }

    .item-inner {
        border-bottom: none !important;
    }

    @media (min-width: map-get($grid-breakpoints, xl)) {
        .settingsmobile {
            box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
            min-height: 100%;
            max-width: 960px;
            padding: 0 10px;
            margin: 0 auto;
        }
    }
}
